@import "base/__imports";
@import "base/__reset";
@import "_mixin";
@import "base/__fonts";
@import "base/_font-sizes";
@import "base/__swiper";
@import "base/form";

//can remove later
#browsersize {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 20;
  font-size: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 3px 7px;
  z-index: 99999;
}

main {
  overflow: hidden;
}

section.home-hero {
  visibility: hidden;
  position: relative;
  // border: 3px solid orange;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // overflow: hidden;
  min-height: 600px;

  .swiper-background-img-container {
    // z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .swiper-home {
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .copy-container {
    visibility: hidden;
    // border: 3px solid red;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    z-index: 10;
  }

  p {
    padding: 1rem 0;
    font-size: 0.8rem;
    @include small {
      font-size: 1rem;
    }
    @include tablet {
      font-size: 1.2rem;
    }
  }
}

.lower-banner {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  font-weight: bold;
  text-align: center;
  background-color: #c8cdce;
  padding: 2em;
  font-size: 0.9rem;

  a {
    color: black;
    border-bottom: 2px solid black;

    @include tablet {
      margin-left: 2rem;
    }
  }
}

.logo-container {
  margin-bottom: 4vh;
  width: min(90%, 700px);
  img {
    width: 100%;
  }
}

footer {
  background-color: black;
  color: white;
  padding: 1em 0;
  font-size: 0.8rem;

  .container {
    width: 95%;
    margin-inline: auto;
  }

  a {
    color: white;
  }
  span {
    display: none;
    margin: 0 0.5em;

    @include desktop {
      display: inline-block;
    }
  }
  span.show {
    display: inline-block;
  }
  address,
  p {
    font-size: 0.6rem;
    text-align: center;
    font-family: "Century Gothic";
    font-weight: bold;
    @include desktop {
      // font-size: 0.75rem;
    }

    @include desktop {
      display: inline;
      font-size: 0.5rem;
    }
  }
}

.discover-btn {
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  padding: 0.5em 1em;
  font-size: 0.9rem;
  transition: all 0.5s ease;
  font-size: 0.7rem;
  @include small {
    font-size: 1rem;
  }
  @include tablet {
    font-size: 1.2rem;
  }

  &:hover {
    background-color: white;
    color: black;
  }
}

.footer-flex {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  // address {
  //   order: 2;
  // }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;

    .footer-child:nth-of-type(1) {
      order: 1;
    }

    .footer-child:nth-of-type(2) {
      order: 3;
    }

    .footer-child:nth-of-type(1) {
      order: 2;
    }
  }
}

.footer-logos {
  img {
    margin: 0 0.5em;
  }
}
