@font-face {
  font-family: "Century Gothic";
  src: url("fonts/CenturyGothic-Bold.woff2") format("woff2"),
    url("fonts/CenturyGothic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: url("fonts/Century-Gothic-Regular.woff2") format("woff2"),
    url("fonts/Century-Gothic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "Century Gothic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
