.swiper {
  width: 100%;
  .swiper-pagination-bullet-active {
    background-color: #ffffff;
  }
  .swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.7);
  }
  // .swiper-button-next {
  //   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
  // }
  // .swiper-button-prev {
  //   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
  // }

  .swiper-button-next,
  .swiper-button-prev {
    bottom: 5px;
    top: initial;
    background-repeat: no-repeat;
    // border: 1px solid red;
    height: 18px;
    width: 9px;
    background-position: center;
    background-size: contain;

    &::after {
      content: "";
    }
  }

  .swiper-button-next {
    background-image: url("../images/icons/Slider-Right-black.svg");

    right: 0px;
  }
  .swiper-button-prev {
    background-image: url("../images/icons/Slider-Left-black.svg");
    left: initial;
    right: 30px;
  }
}

.swiper-slide {
  // border: 1px solid red;
  // aspect-ratio: 3/2;

  @include tablet {
    // aspect-ratio: 4/2;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  p {
    padding-top: 1em;
    font-weight: bold;
  }
}

// Custom swiper

section.custom-swiper {
  margin-bottom: 3rem;

  @include tablet {
    margin-bottom: 5rem;
  }

  @include desktop {
    margin-bottom: 8rem;
  }
}
.swiper-container2 {
  // position: relative;
  // border: 1px solid blue;
  width: 100%;
  // height: 500px;
  // border: 1px solid red;
  display: flex;
  // flex-direction: row-reverse;
  flex-direction: column-reverse;
  overflow: hidden;

  @include tablet {
    flex-direction: row-reverse;
    height: 500px;
  }

  .swiper-wrapper,
  .pagination-container {
    flex: 1;
    width: 100%;

    @include tablet {
      width: 50%;
    }
  }

  .swiper-pagination {
    position: initial;
    // height: 100%;
    // background-color: white;
    margin: initial;
    // border: 1px solid blue;
    padding-bottom: 3rem;

    @include tablet {
      padding-bottom: 0;
    }
  }

  .swiper-slide {
    overflow: hidden;
    background-color: #999;
    // height: 300px;
    // width: 300px;
    // border: 1px solid blue;
    text-align: center;
    font-size: 18px;
    // background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include tablet {
        object-fit: none;
        object-position: left;
      }
    }
  }

  .pagination-container {
    // z-index: 1;
    background-color: white;
    position: relative;
  }
  .swiper-pagination {
    // border: 1px solid purple;
    margin: initial;
    // background-color: white;

    @include tablet {
      // width: 60%;
      width: 80%;
      max-width: 300px;
    }

    // width: 1200px;
    // height: 600px;
  }
  .swiper-pagination-bullet {
    margin: initial !important;
    width: 100%;
    height: auto;
    text-align: left;
    line-height: 20px;
    font-size: 1.25rem;
    color: #000;
    opacity: 1;
    // background: rgba(0, 0, 0, 0.2);
    background: white;
    border-radius: initial;
    text-transform: uppercase;
    padding: 0.5rem 0;
    border-bottom: 1px solid $color-grey;

    &:last-of-type {
      border-bottom: none;
    }
  }
  .swiper-pagination-bullet-active {
    margin: initial;
    // color: #fff;
    background: lightgrey;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    bottom: 5px;
    top: initial;
    background-repeat: no-repeat;
    // border: 1px solid red;
    height: 18px;
    width: 9px;
    background-position: center;
    background-size: contain;

    &::after {
      content: "";
    }
  }

  .swiper-button-next {
    background-image: url("../images/icons/Slider-Right-black.svg");

    left: 20px;
  }
  .swiper-button-prev {
    background-image: url("../images/icons/Slider-Left-black.svg");
    left: initial;
    left: 0px;
  }
}
