// h1 {
// 	font-size: 30px;
// }
// h2 {
// 	font-size: 20px;
// }
// p {
// 	font-size: 15px;
// 	line-height: 120%;
// 	margin:5px 0px;
// }

// @media (min-width: 768px) {

// 	h1 {
// 		font-size: 3rem;
// 	}
// 	h2 {
// 		font-size: 2rem;
// 	}
// 	p {
// 		font-size: 1rem;
// 	}

// }

// @media (min-width: 992px) {

// }
p {
  font-size: 0.8rem;
  line-height: 1.8rem;
  @include desktop {
    font-size: 0.8rem;
  }
}

ul li {
  font-size: 0.8rem;
  @include desktop {
    font-size: 0.8rem;
  }
}
