.footer {
  width: 100%;
  margin: 2em auto;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  .container {
    address {
      div {
        margin-bottom: 0.8rem;
      }
    }
  }
  .footer-logos-container {
    margin-bottom: 1rem;
  }
  .disclaimer {
    font-size: 9px;
    margin: 0 auto;
    max-width: 470px;
    line-height: 1.2;
    a {
      text-decoration: underline;
    }
  }
  img {
    margin: 0 0.25em;
    &.nwg {
      width: 33px;
      margin: 0 0.5rem;
    }
  }

  a {
    color: black;
  }

  span {
    margin: 0 1em;
  }
}
