.holdthanks,
.formerror {
  display: none;
  text-align: left;
}
.holdbtncontainerstatus,
.formerror {
  font-size: clamp(0.6rem, 0.8vw, 1rem);
}
.holdthanks {
  margin: 30px 0px;
}
.hometype {
  font-weight: bold;
}
.contactfields {
  outline: 0;
  border: 0px;
  border-bottom: 2px solid $color-black;
  margin: 0px auto 20px;
  background-color: transparent;
  width: 100%;
  padding: 13px 0px 0px;
  font-size: 16px;
  border-radius: 0px;
  color: $color-white;
  font-weight: bold;
  @include desktop {
    padding: 13px 0px 10px;
  }
}
.holdform {
  margin: 3rem auto 0;
  width: 100%;
  max-width: 1200px;
  // @include tablet {
  //   max-width: 500px;
  // }
}
form .holdbtn {
  margin-top: 10px;
}
form .input label {
  position: absolute;
  line-height: 1;
  top: 20px;
  // top: 0px;
  // bottom: 4px;
  left: 0px;
  text-align: left;
  right: 0px;
  cursor: text;
  color: $color-white;
  z-index: 1;
  // letter-spacing: 5px;
  text-transform: capitalize;
  font-weight: bold;
  // @include desktop {
  //   top: 17px;
  // }
}
form .input {
  position: relative;
  margin: 4px auto;
  width: 100%;
}
form .holdfields {
  display: block;
  @include small {
    display: flex;
    gap: 1rem;
  }
}
form .holdfields .input.email {
  padding-right: 0px;
}

form .input .holddate .label {
  display: inline-block;
}
form .input.picker label {
  cursor: pointer;
  z-index: 2;
}
form .input .holddate input {
  width: 47px;
  height: 25px;
  font-size: 16px;
  outline: 0;
  border: 0px;
  border-bottom: 1px solid #ccc;
  text-align: left;
  padding: 0px 4px 0px;
  margin-right: 8px;
}
form .input .holddate input.year {
  width: 60px;
}
.holdradiobuttons {
  position: relative;
  display: block;
  margin-left: 20px;
  @include tablet {
    margin-left: 26px;
  }
}
.holdradiobuttons .label {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
}

.radiocontainer {
  display: block;
  position: relative;
  padding-left: 27px;
  padding-top: 2px;
  margin-bottom: 12px;
  margin-right: 14px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @include tablet {
    display: inline-block;
  }
}

/* Hide the browser's default radio button */
.radiocontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radiocontainer .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border: 1px solid #000;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiocontainer:hover input ~ .checkmark {
  background-color: #000;
}

/* When the radio button is checked, add a blue background */
.radiocontainer input:checked ~ .checkmark {
  background-color: #eee;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiocontainer .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiocontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radiocontainer .checkmark:after {
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #000;
}
// select {
//   border: 0;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   width: 100%;
//   display: block;
//   text-indent: 0.01px;
//   text-overflow: "";
//   border-radius: 0px;
//   padding: 5px;
//   margin: 0px auto 30px;
//   border-bottom: 2px solid #000;
//   color: #000;
//   cursor: pointer;
//   background: transparent;
//   background: transparent url(../images/icons/downarrow.png) no-repeat right
//     center;
//   background-size: 18px 8px;
// }

// .submit-btn {
//   color: black;
//   padding-bottom: 0.25em;
//   border-bottom: 2px solid black;
//   font-weight: bold;
//   margin-top: 3em;
// }

// .form-grid {
//   // border: 1px solid red;
//   display: grid;
//   grid-template-columns: 1fr;

//   @include tablet {
//     grid-template-columns: repeat(2, 1fr);
//     column-gap: 2em;
//   }
// }

// Styles from popup

.holdthanks {
  display: none;
  text-align: center;
  margin-top: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.holdform {
  margin: 0 auto;
  width: min(900px, 85%);
  margin-top: 3rem;

  .input.calendar,
  .input.hometype {
    margin-top: 20px;
    border-bottom: 2px solid black;
    label {
      top: 0px;
      @include desktop {
        top: 0px;
      }
    }
  }
  .input.calendar,
  .input.hometype {
    input {
      margin: 0px auto;
      padding: 0px 4px 0px;
      border-bottom: 0px;
    }
  }
  .input.hometype {
    select {
      appearance: none;
      -webkit-appearance: none;
      z-index: 4;
      width: 100%;
      font-size: 0.8rem;
      // padding-left: 6px;
      position: relative;
      background: transparent url("../images/Form-Arrow-DOWN.svg") no-repeat
        100% center;
      border: 0 !important;
      background-size: 0.7rem;
      cursor: pointer;
    }
  }
  input[type="date"] {
    opacity: 0;
    font-size: 0.8rem;
    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }
  @include tablet {
    width: min(800px, 85%);
  }
  @include desktopxl {
    width: min(900px, 85%);
  }
  .holdthanks,
  .formerror {
    display: none;
    text-align: left;
  }
  .holdthanks {
    margin: 30px auto;
    text-align: center;
  }
  .formerror {
    font-weight: bold;
    margin: 1.4rem auto 0px;
  }
  .contactfields {
    outline: 0;
    border: 0px;
    border-bottom: 2px solid $color-black;
    margin: 0px auto 0px;
    background-color: transparent;
    width: 100%;
    padding: 13px 4px 0px;
    font-size: 0.8rem;
    border-radius: 0px;
    color: $color-white;
    @include small {
      font-size: 1rem;
    }
    @include desktop {
      padding: 13px 4px 10px;
      margin: 0px auto 20px;
    }
  }
  .holdform {
    margin: 20px auto;
    width: 95%;
    max-width: 400px;
    margin-top: 3rem;
  }
  form .spacer {
    height: 3rem;
  }
  form .holdbtn {
    // margin-top: 10px;
    text-align: center;
    .btn {
      // border-radius: 50px;
      // background-color: white;
      // text-transform: uppercase;
      letter-spacing: 0.03em;
      font-size: 0.75rem;
      // width: 150px;
      font-weight: bold;
      width: auto;
      margin: 0rem auto 0;
      text-align: center;
      padding: 0.6rem 0;
      // font-family: "Century Gothic Bold";
      text-transform: none;
      border-radius: 0;
      border: none;
      border-bottom: 2px solid black;
      color: black;
      // @include small {
      //   font-size: 1rem;
      // }

      &:hover {
        background-color: initial;
      }
    }
  }
  form .input label {
    position: absolute;
    line-height: 1;
    top: 15px;
    // left: 6px;
    text-align: left;
    right: 0px;
    cursor: text;
    color: $color-white;
    z-index: 1;
    letter-spacing: 0.03em;
    // text-transform: uppercase;
    font-size: 0.75rem;
    // @include small {
    //   font-size: clamp(0.5rem, 0.8vw, 1rem);
    // }
    @include desktop {
      top: 17px;
    }
  }
  form .input {
    position: relative;
    margin: 4px auto;
    width: 100%;
  }
  form .holdfields {
    display: block;
    @include small {
      display: flex;
      gap: 1rem;
    }
  }
  form .holdfields .input.email {
    padding-right: 0px;
  }

  form .input .holddate .label {
    display: inline-block;
  }
  form .input.picker label {
    cursor: pointer;
    z-index: 2;
  }
  form .input .holddate input {
    width: 47px;
    height: 25px;
    font-size: 16px;
    outline: 0;
    border: 0px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding: 0px 4px 0px;
    margin-right: 8px;
  }
  form .input .holddate input.year {
    width: 60px;
  }
  .holdradiobuttons {
    position: relative;
    display: block;
    margin-left: 20px;
  }
  .holdradiobuttons .label {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 8px;
  }
}
