.gallery-wrap {
  // border: 3px solid red;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery-block {
    // border: 3px solid blue;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.tab-nav {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
  text-transform: uppercase;

  a {
    color: black;
  }

  @include tablet {
    flex-direction: row;
    margin-bottom: 5rem;
    margin-top: 5rem;
    font-size: 1.25rem;
  }

  // .tabs-item {
  //   &:hover,
  //   &.tabs-item-active {
  //     border-bottom: 2px solid black;
  //     padding-bottom: 0.5rem;
  //   }
  // }
}

.tabs-item a,
.tabs-item-active a {
  // color: red;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 97%;
    background: #000;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: left;
  }

  &:hover {
    // color: white;

    &::after {
      transform: scaleX(1);
    }
  }
}

.tabs-item-active a {
  &::after {
    transform: scaleX(1);
  }
}
