.header {
  position: fixed;
  width: 100%;
  z-index: 2;
  font-weight: bold;
  visibility: hidden;
  transition: all 0.5s ease;

  &.scrolled {
    background-color: white;

    .nav,
    a {
      color: black;
    }

    .header-link {
      &::after {
        background: #000;
      }
    }

    .communities-dropdown {
      &::after {
        content: url("../images/icons/Community-Down-black-01.svg");
        display: inline-block;
        // transform: rotate(180deg);
      }
    }

    .dropdown-link-container {
      background-color: rgba(255, 255, 255, 0.5);

      li {
        &:hover {
          border-bottom: 2px solid black;
        }
        &.active {
          border-bottom: 2px solid black;
        }
      }
    }
  }
}

.nav {
  padding: 1em 0;
  color: white;

  a {
    color: white;
  }
}
.scrolled .nav {
  padding: 0.5rem 0;
}
.header-inner {
  visibility: hidden;
  background-color: white;

  .nav {
    color: black;

    a {
      color: black;
    }
  }
}

.nav-flex {
  // border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  @include tablet {
    font-size: 0.8rem;
  }
}

// .communities-dropdown {
//   flex: 1;
//   font-size: 0.7rem;
//   cursor: pointer;

//   @include tablet {
//     font-size: 1rem;
//   }

//   &::after {
//     content: "^";
//     transform: rotate(45deg);
//   }
// }

.header-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;

  img {
    width: 100px;

    @include tablet {
      width: 125px;
    }
  }
}

.header-links-container {
  // border: 1px solid blue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
  flex: 1;

  .header-link {
    display: none;
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 97%;
      background: #fff;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
      transition: transform 0.3s ease;
      transform-origin: left;
    }

    &:hover {
      // color: white;

      &::after {
        transform: scaleX(1);
      }
    }
    &.desktopxllink {
      display: none;

      @include desktop {
        display: block;
      }
    }
    @include tablet {
      padding-bottom: 0.35rem;
      position: relative;
      display: initial;
      // border: 1px solid red;
    }
  }
}

.header-inner {
  .header-link {
    &::after {
      background: #000;
    }
  }
}

.incentive {
  background-color: black;
  color: white;
  padding: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem; 
}

.hamburger-container {
  img {
    width: 30px;
    height: 30px;
  }
  // border: 1px solid red;

  cursor: pointer;
}

// .communities-dropdown {
//   flex: 1;
//   font-size: 0.7rem;
//   cursor: pointer;

//   @include tablet {
//     font-size: 1rem;
//   }

//   &::after {
//     content: "^";
//     transform: rotate(45deg);
//   }
// }

.communities-dropdown {
  flex: 1;
  font-size: 0.7rem;
  cursor: pointer;
  position: relative;
  // border: 1px solid red;

  @include tablet {
    font-size: 0.8rem;
  }

  &::after {
    content: url("../images/icons/Community-Down-white.svg");
    display: inline-block;
    // transform: rotate(180deg);
  }

  .dropdown-link-container {
    // padding-left: 100%;
    // border: 1px solid red;
    // background-color: white;
    position: absolute;
    bottom: -80px;
    left: -100%;
    padding-right: 1.5rem;
    padding-left: 100%;
    display: none;

    @include tablet {
      bottom: -80px;
      padding-right: 2.3rem;
    }

    li {
      margin: 1em 0;
      font-weight: normal;
      border: 0;
      padding-bottom: 1px;
      &:hover {
        border-bottom: 2px solid white;
      }
      &.active {
        border: 0;
        border-bottom: 2px solid white;
        font-weight: bold;
      }
    }

    &.innerpage-dropdown {
      background-color: white;

      li {
        border-bottom: 0px solid black;
        &.active {
          border-bottom: 2px solid black;
        }
      }
    }
  }

  &.open {
    &::after {
      transform: rotate(180deg);
    }

    .dropdown-link-container {
      display: block;
    }
  }
}

// .transparent-background {
//   background-color: rgba(255, 255, 255, 0.5);
//   position: absolute;
// }

header.header-inner {
  .communities-dropdown {
    &::after {
      content: url("../images/icons/Community-Down-black-01.svg");
      display: inline-block;
      // transform: rotate(180deg);
    }
  }
}
