// Map section begin
.map-section {
  // border: 1px solid red;
  height: auto;
  height: 760px;
  position: relative;
  // margin: 100px 4.5% 50px;
  margin-top: 8rem;

  @include desktop {
    height: 760px;
  }
}
.map-container {
  // height: 100%;
  // height: 400px;
  height: 50%;
  width: 100%;

  @include desktop {
    height: 100%;
    position: absolute;
  }
}
.map {
  height: 100%;

  @include desktop {
    margin-left: 430px;
  }
}
.map-info {
  position: absolute;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  height: 50%;
  background: #fff;
  // z-index: 5;
  // -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  // -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  // padding-top: 100px;

  @include desktop {
    width: 430px;
    height: 100%;
  }
}
// .map-info-head {
//   background: #1b1b19;
//   color: #fff;
//   padding: 5px 15px;
//   text-align: center;
//   display: table;
//   width: 100%;
//   height: 100px;
//   position: absolute;
//   top: 0;
//   left: 0;
// }
// .map-title {
//   color: #fff;
//   // font-family: "Knockout";
//   font-size: 42px;
//   margin: 0;
//   letter-spacing: 13px;
//   line-height: 1;
//   display: table-cell;
//   vertical-align: middle;
// }
.map-block {
  // margin-bottom: 35px;
  border-top: 1px solid white;
}
.map-info-body {
  // padding: 20px 48px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  background-color: $color-grey;
}
.map-block-title {
  // font-family: "Knockout";
  font-size: 1.5rem;
  // margin: 0 0 10px;
  // letter-spacing: 13px;
  // margin-left: 40px;
  line-height: 1.2;
  padding: 0.5em 0;
  padding-left: 20px;
  cursor: pointer;
  position: relative;

  &::after {
    content: "+";
    position: absolute;
    right: 5%;
  }
}

.map-block-title.open {
  &::after {
    content: "-";
    position: absolute;
    right: 5%;
  }
}
.map-block ul {
  padding-bottom: 2em;
}
.dropdown {
  display: none;

  &.open {
    display: inline-block;
  }
}

.map-block ul li {
  list-style: none;
  padding-bottom: 0.5em;

  &:last-of-type {
    padding-bottom: initial;
  }
}
.map-block ul li a,
.map-block ul li span {
  color: black;
  position: relative;
  // padding-left: 39px;
  padding-left: 20px;
  // margin-bottom: 5rem;
  // font-size: 19px;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.restaurants {
  border-left: 12px solid #38487b;
}
.school {
  border-left: 12px solid #baa986;
}
.lifestyle {
  border-left: 12px solid #763a55;
}
.park {
  border-left: 12px solid #66806c;
}
.shop {
  border-left: 12px solid #799dad;
}
.entertainment {
  border-left: 12px solid #673ab7;
}
.transit {
  border-left: 12px solid black;
  height: 100%;
}
// .map-block ul li a:hover {
//   background: #dcd8d9;
// }
// .map-block ul li a:before {
//   position: absolute;
//   top: 6px;
//   left: 5px;
//   width: 20px;
//   height: 20px;
//   border-radius: 50%;
//   z-index: 1;
//   content: "";
//   background: #ccc;
//   -webkit-transform: scaleX(1);
//   -moz-transform: scaleX(1);
//   -ms-transform: scaleX(1);
//   -o-transform: scaleX(1);
//   transform: scaleX(1);
// }

// .map-block ul li a:after {
//   display: none;
// }
// .nicescroll-cursors {
//   width: 8px !important;
// }
// .nicescroll-rails.nicescroll-rails-vr {
//   left: auto !important;
//   right: 0 !important;
//   height: calc(100% - 102px) !important;
// }
// Map section end
