.menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: -100%;
  left: 0;
  background-color: $color-grey;
  z-index: 100;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;
  // align-items: center;
  gap: 1rem;
  transition: all 0.5s ease;
  color: black;
  overflow-y: scroll;

  // a {
  //   color: black;
  //   font-weight: bold;
  //   font-size: 0.75rem;
  // }

  &.open {
    top: 0;
  }

  li {
    text-align: center;
    padding-bottom: rem;
    margin: 1.5rem 0;
    position: relative;

    a {
      position: relative;
      color: black;
      // font-family: "Century Gothic";
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.4em;
      font-size: clamp(1.2rem, 3vw, 3rem);

      &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 97%;
        background: #fff;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transition: transform 0.3s ease;
        transform-origin: left;
      }

      &:hover {
        color: white;

        &::after {
          transform: scaleX(1);
        }
      }
    }
  }

  .closex-container {
    // border: 1px solid red;
    // position: absolute;

    width: 25px;
    margin: 25px;
    cursor: pointer;
    align-self: end;

    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

.outside-links-container {
  // border: 1px solid red;

  a {
    color: black;
    display: block;
    text-align: center;
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }
}

body.residences .residences-link,
body.amenities .amenities-link,
body.neighborhood .neighborhood-link,
body.availability .availability-link,
body.gallery .gallery-link,
body.contact .contact-link {
  color: white;

  &::after {
    transform: scaleX(1) !important;
  }
}
.menu-flex {
  // border: 1px solid red;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // overflow-y: scroll;
}
