@font-face {
  font-family: "Gotham Bold";
  src: url("Gotham-Bold.woff2") format("woff2"),
    url("Gotham-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Book";
  src: url("Gotham-Book.woff2") format("woff2"),
    url("Gotham-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic Bold";
  src: url("Century-Gothic-Bold.woff2") format("woff2"),
    url("Century-Gothic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: url("Century-Gothic-Regular.woff2") format("woff2"),
    url("Century-Gothic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
