@font-face {
  font-family: "Century Gothic";
  src: url("fonts/CenturyGothic.woff2") format("woff2"),
    url("fonts/CenturyGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Century Gothic Bold";
  src: url("fonts/CenturyGothic-Bold.woff2") format("woff2"),
    url("fonts/CenturyGothic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
