$color-white: #ffffff;
$color-black: #000000;

@mixin small {
  @media only screen and (min-width: 500px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin desktopl {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
@mixin desktopxl {
  @media only screen and (min-width: 1400px) {
    @content;
  }
}

/* Sometimes helpful, just in case */
@mixin small_laptop_custom {
  @media only screen and (min-width: 500px) and (max-height: 650px) {
    @content;
  }
}
