.popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 1rem;
  //   height: 90%;
  background-color: #11151a;
  z-index: 999999;
  color: white;
  font-family: "Century Gothic";
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s ease, width 0.7s ease;
  width: 90%;
  span.holdtogether {
    white-space: nowrap;
  }
  @include small {
    position: fixed;
    top: 0;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
  @include small_laptop_custom {
    position: absolute;
    top: 0px;
    transform: translateY(0%) translateX(-50%);
  }
  &.active {
    opacity: 1;
    width: 95%;
    visibility: visible;
  }
  .vanlogo {
    padding: 0rem 1rem 0.2rem;
    text-align: right;
    @include small {
      padding: 0rem 1rem 1rem;
    }
    img {
      width: 40px;
      @include small {
        width: 100px;
      }
    }
  }
  .holdthanks {
    display: none;
    text-align: center;
    margin-top: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  .holdcontent {
    margin: 2rem 1rem 1rem 1rem;
    @include small {
      margin: 2rem 1rem;
    }
    @include desktop {
      margin: 2.2rem auto;
    }
    .logo {
      text-align: center;
      margin: 0 auto;
      width: max(30%, 200px);
    }
    h1,
    h2,
    p {
      text-transform: uppercase;
    }
    h1 {
      margin-top: 1rem;
      margin-bottom: 0rem;
      letter-spacing: 0.6em;
      text-align: center;
      line-height: 1.4;
      font-size: 0.8rem;
      margin-bottom: 1rem;
      @include small {
        margin-top: 3rem;
        margin-bottom: 0rem;
        font-size: 1rem;
        font-size: clamp(0.8rem, 3.7vw, 4rem);
        margin-right: -0.6em;
      }
      @include desktop {
        // margin-top: 4rem;
        margin-top: 8vh;
        margin-right: -0.6em;
      }
    }
    h2 {
      line-height: 1.7;
      margin-bottom: 1rem;
      font-size: 0.7rem;
      @include small {
        font-size: 0.8rem;
        margin-bottom: 3rem;
        line-height: 1.4;
        font-size: clamp(0.5rem, 1.7vw, 3rem);
      }
      @include desktop {
        // margin-bottom: 4rem;
        margin-bottom: 8vh;
      }
    }
    h2,
    p {
      letter-spacing: 0.2em;
      text-align: center;
    }
    p {
      line-height: 1.7;
      font-size: 0.55rem;
      @include small {
        line-height: 1.4;
        font-size: clamp(0.5rem, 1.5vw, 3rem);
      }
      @include tablet {
        font-size: clamp(0.5rem, 1.3vw, 3rem);
      }
      @include desktopxl {
        font-size: clamp(0.5rem, 1.2vw, 3rem);
      }
    }
    .closex {
      appearance: none;
      outline: 0;
      background-color: transparent;
      border: 0px;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      @include desktop {
        top: 2rem;
        right: 2rem;
      }
      img {
        width: 20px;
        @include desktop {
          top: 1.6rem;
          right: 1.6rem;
          width: 30px;
        }
      }
    }
    .holdform {
      margin: 0 auto;
      width: min(900px, 85%);

      .input.calendar,
      .input.hometype {
        margin-top: 20px;
        border-bottom: 1px solid white;
        label {
          top: 0px;
          @include desktop {
            top: -8px;
          }
        }
      }
      .input.calendar,
      .input.hometype {
        input {
          margin: 0px auto;
          padding: 0px 4px 0px;
          border-bottom: 0px;
        }
      }
      .input.hometype {
        select {
          appearance: none;
          -webkit-appearance: none;
          z-index: 4;
          width: 100%;
          font-size: 0.8rem;
          padding-left: 6px;
          position: relative;
          background: transparent url("../images/Form-Arrow-DOWN.svg") no-repeat
            100% center;
          border: 0 !important;
          background-size: 0.7rem;
          cursor: pointer;
        }
      }
      input[type="date"] {
        opacity: 0;
        font-size: 0.8rem;
        &::-webkit-calendar-picker-indicator {
          filter: invert(1);
        }
      }
      @include tablet {
        width: min(800px, 85%);
      }
      @include desktopxl {
        width: min(900px, 85%);
      }
      .holdthanks,
      .formerror {
        display: none;
        text-align: left;
      }
      .holdthanks {
        margin: 30px auto;
        text-align: center;
      }
      .formerror {
        margin: 6px auto 20px;
        font-size: clamp(0.6rem, 0.8vw, 1rem);
      }
      .contactfields {
        outline: 0;
        border: 0px;
        border-bottom: 1px solid $color-white;
        margin: 0px auto 0px;
        background-color: transparent;
        width: 100%;
        padding: 13px 4px 0px;
        font-size: 0.8rem;
        border-radius: 0px;
        color: $color-white;
        @include small {
          font-size: 1rem;
        }
        @include desktop {
          padding: 13px 4px 10px;
          margin: 0px auto 20px;
        }
      }
      .holdform {
        margin: 20px auto;
        width: 95%;
        max-width: 400px;
      }
      form .holdbtn {
        margin-top: 10px;
        text-align: center;
        .btn {
          border-radius: 50px;
          background-color: white;
          text-transform: uppercase;
          letter-spacing: 0.03em;
          font-size: 0.8rem;
          width: 150px;
          margin: 0 auto;
          text-align: center;
          padding: 0.6rem 0;
          font-family: "Century Gothic Bold";
          @include small {
            font-size: 1rem;
          }
        }
      }
      form .input label {
        position: absolute;
        line-height: 1;
        top: 10px;
        left: 6px;
        text-align: left;
        right: 0px;
        cursor: text;
        color: $color-white;
        z-index: 1;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-size: 0.65rem;
        @include small {
          font-size: clamp(0.5rem, 0.8vw, 1rem);
        }
        @include desktop {
          top: 17px;
        }
      }
      form .input {
        position: relative;
        margin: 4px auto;
        width: 100%;
      }
      form .holdfields {
        display: block;
        @include small {
          display: flex;
          gap: 1rem;
        }
      }
      form .holdfields .input.email {
        padding-right: 0px;
      }

      form .input .holddate .label {
        display: inline-block;
      }
      form .input.picker label {
        cursor: pointer;
        z-index: 2;
      }
      form .input .holddate input {
        width: 47px;
        height: 25px;
        font-size: 16px;
        outline: 0;
        border: 0px;
        border-bottom: 1px solid #ccc;
        text-align: left;
        padding: 0px 4px 0px;
        margin-right: 8px;
      }
      form .input .holddate input.year {
        width: 60px;
      }
      .holdradiobuttons {
        position: relative;
        display: block;
        margin-left: 20px;
      }
      .holdradiobuttons .label {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 8px;
      }
    }
  }
  footer {
    // display: none;
    width: 100%;
    padding: 0.3rem 1rem;
    background-color: white;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: "Century Gothic Bold";
    text-transform: capitalize;
    position: relative;
    font-size: 0.4rem;
    text-align: center;
    @include small {
      font-size: 0.8rem;
      padding: 0.6rem 1rem;
    }
    a {
      color: black;
      text-decoration: none !important;
      border-bottom: 0px !important;
      &::after {
        text-decoration: none !important;
        border-bottom: 0px !important;
      }
      &::before {
        text-decoration: none !important;
        border-bottom: 0px !important;
      }
    }
    .ehologo {
      position: absolute;
      right: 10px;
      top: 5px;
      @include small {
        top: 10px;
      }
      img {
        width: 10px;
        @include tablet {
          width: 15px;
        }
      }
    }
    @include small {
      display: flex;
    }
  }
}
.popup_overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}
