@font-face {
    font-family: 'ArcherBook';
    src: url('ArcherBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fontello.woff';
    src: url('fontello.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Knockout';
    src: url('Knockout.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

