h1 {
  font-size: 30px;
  @include tablet {
    font-size: 3rem;
  }
}
h2 {
  font-size: 1rem;
  line-height: 1.4;
  font-family: "Century Gothic";
  @include tablet {
    font-size: 1.5rem;
  }
}
p {
  font-size: 15px;
  line-height: 120%;
  margin: 5px 0px;
  @include tablet {
    font-size: 1rem;
  }
}
