.holdthanks,
.formerror {
  display: none;
  text-align: left;
}
.holdthanks {
  margin: 30px 0px;
}
.formerror {
  margin: 6px auto 20px;
}
.contactfields {
  outline: 0;
  border: 0px;
  border-bottom: 2px solid $color-black;
  margin: 0px auto 20px;
  background-color: transparent;
  width: 100%;
  padding: 13px 4px 0px;
  font-size: 16px;
  border-radius: 0px;
  color: $color-black;
  @include desktop {
    padding: 13px 4px 10px;
  }
}
.holdform {
  margin: 20px auto;
  width: 95%;
  max-width: 400px;
  @include tablet {
    max-width: 500px;
  }
}
form .holdbtn {
  margin-top: 10px;
}
form .input label {
  position: absolute;
  line-height: 1;
  top: 10px;
  left: 6px;
  text-align: left;
  right: 0px;
  cursor: text;
  color: $color-black;
  z-index: 1;
  letter-spacing: 5px;
  text-transform: uppercase;
  @include desktop {
    top: 17px;
  }
}
form .input {
  position: relative;
  margin: 4px auto;
  width: 100%;
}
form .holdfields {
  display: block;
  @include small {
    display: flex;
    gap: 1rem;
  }
}
form .holdfields .input.email {
  padding-right: 0px;
}

form .input .holddate .label {
  display: inline-block;
}
form .input.picker label {
  cursor: pointer;
  z-index: 2;
}
form .input .holddate input {
  width: 47px;
  height: 25px;
  font-size: 16px;
  outline: 0;
  border: 0px;
  border-bottom: 1px solid #ccc;
  text-align: left;
  padding: 0px 4px 0px;
  margin-right: 8px;
}
form .input .holddate input.year {
  width: 60px;
}
.holdradiobuttons {
  position: relative;
  display: block;
  margin-left: 20px;
  @include tablet {
    margin-left: 26px;
  }
}
.holdradiobuttons .label {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
}

.radiocontainer {
  display: block;
  position: relative;
  padding-left: 27px;
  padding-top: 2px;
  margin-bottom: 12px;
  margin-right: 14px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @include tablet {
    display: inline-block;
  }
}

/* Hide the browser's default radio button */
.radiocontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radiocontainer .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border: 1px solid #000;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiocontainer:hover input ~ .checkmark {
  background-color: #000;
}

/* When the radio button is checked, add a blue background */
.radiocontainer input:checked ~ .checkmark {
  background-color: #eee;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiocontainer .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiocontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radiocontainer .checkmark:after {
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #000;
}
select {
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  display: block;
  text-indent: 0.01px;
  text-overflow: "";
  border-radius: 0px;
  padding: 5px;
  margin: 0px auto 30px;
  border-bottom: 2px solid #000;
  color: #000;
  cursor: pointer;
  background: transparent;
  background: transparent url(../images/icons/downarrow.png) no-repeat right
    center;
  background-size: 18px 8px;
}
