@import "base/__imports";
@import "base/__reset";
@import "_mixin";
@import "base/__fonts";
@import "base/_font-sizes";
@import "base/__swiper";
@import "base/form";
@import "base/header";
@import "base/map";
@import "base/gallery";
@import "base/menu";
@import "base/footer";
// use breakpoints from _mixin.scss - Add more if necessary
// for example
.customClassName {
  //mobile first css
  @include tablet {
    //css
  }
  @include desktop {
    //css
  }
}
//can remove later
#browsersize {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 20;
  font-size: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 3px 7px;
  z-index: 99999;
}

html,
body {
  font-family: "Century Gothic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin-inline: auto;
}

section.hero {
  height: 100vh;
  overflow: hidden;
  visibility: hidden;
}

.background-img-container {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.hero-copy {
  visibility: hidden;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Century Gothic";
  text-transform: uppercase;
  text-align: center;
}

.hero-sml-header {
  letter-spacing: 0.1em;
  font-size: clamp(0.75rem, 1.5vw, 1.35rem);
}

.hero-lrg-header {
  letter-spacing: 0.4em;
  font-size: clamp(1.5rem, 5vw, 5rem);
  padding: 0.35em 0 1em;

  &.contact-lrg-header {
    padding-top: 1.5em;
    padding-bottom: 1em;

    @include desktop {
      padding-top: 0;
    }
  }
}

.btn {
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  padding: 0.5em 1em;
  border-radius: 50px;
  transition: all 0.5s ease;
  width: 150px;

  &:hover {
    background-color: white;
    color: black;
  }
}

.gradient {
  background-color: rgba($color: #000000, $alpha: 0.1);
  // z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

section.contact {
  background-color: $color-grey;
  color: white;
  font-family: "Century Gothic";
  text-transform: uppercase;
  text-align: center;
  padding: 5em 0;

  @include tablet {
    padding: 8em 0;
  }
}

.social-icons-container {
  margin: 3em auto;
  img {
    width: 20px;
    height: 20px;
  }
}

.innerpage-header {
  visibility: hidden;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: clamp(1.2rem,1vw,3rem);
  text-align: center;
  padding: 8rem 0 2rem;

  @include tablet {
    padding: 12rem 0 5rem;
  }
}

.innerpage-subheader{
  @extend .innerpage-header;
  letter-spacing: normal;
  text-transform: unset;
visibility: initial;;
  font-size: clamp(1.5rem, 3vw, 3rem);
  padding: 2rem 0 2rem;
 }

.hero-copy-inner {
  justify-content: flex-end;
}

.sub-hero-para {
  padding: 2em 0;
  max-width: 600px;

  @include tablet {
    padding: 5em 0 2em;
  }
}

.flex-container {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 3em;

  @include tablet {
    gap: 5em;
    flex-direction: row;
    justify-content: flex-end;
  }

  // @include desktop {
  // }

  @include desktopl {
    gap: 8em;
  }

  &.row-reverse {
    @include desktop {
      flex-direction: row-reverse;
    }
  }

  .flex-img-container {
    // height: 689px;
    aspect-ratio: 3/4;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

body.amenities,
body.neighborhood {
  .flex-container {
    margin-bottom: 3rem;

    @include tablet {
      margin-bottom: 5rem;
    }
    @include desktop {
      margin-bottom: 8rem;
    }

    .flex-img-container {
      // height: 592px;
      aspect-ratio: 4/3;
      flex: 1;

      &.tall {
        // border: 1px solid red;
        aspect-ratio: 4/5;

        flex: initial;
      }
    }

    .flex-copy-container {
      flex: 1;
      // border: 1px solid blue;
      max-width: 600px;
    }
  }
}

body.neighborhood {
  .flex-container {
    justify-content: space-between;

    .flex-copy-container {
      max-width: initial;

      p {
        @include desktop {
          width: 80%;
        }
      }
    }
  }
}

.inner-page-section-header {
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: clamp(1.2rem, 3vw, 3rem);
  padding: 2rem 0;

  @include tablet {
    // padding: 5rem 0;
    padding: 3rem 0;
  }
}

section.living-and-dining {
  margin-top: 2rem;

  @include tablet {
    margin-top: 8rem;
  }

  li {
    padding-bottom: 1rem;
  }
}

.living-section-grid {
  background-image: linear-gradient(180deg, #fff 90%, $color-grey 10%);
  margin-top: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;

  @include tablet {
    grid-template-columns: repeat(12, 1fr);
  }

  .grid-child {
    img {
      // height: 100%;
      width: 100%;
      object-fit: cover;
    }

    @include tablet {
      aspect-ratio: 3/4;
    }
  }

  .grid-child-1 {
    // border: 1px solid blue;

    @include tablet {
      aspect-ratio: 3/4;
      grid-column: 1/5;
      grid-row: 1/3;
    }

    p {
      padding-top: 1em;
    }
  }

  .grid-child-2 {
    // border: 1px solid orange;
    margin-top: 1rem;

    @include tablet {
      grid-column: 7/13;
      grid-row: 2/4;
      margin-top: 5em;
    }
  }
}

body.amenities {
  section.large-letters-grey-background {
    margin-top: 8rem;
  }
}

section.large-letters-grey-background {
  background-color: $color-grey;
  padding: 5em 0;

  @include tablet {
    padding: 8em 0;
  }

  .lrg-header,
  .sml-header {
    color: white;
    font-family: "Century Gothic";
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.4em;
    font-size: clamp(1.5rem, 3.5vw, 5rem);
    line-height: 1.25em;
  }

  .sml-header {
    letter-spacing: 0.4em;
    font-size: clamp(1.2rem, 3vw, 3rem);
  }

  .list-container {
    // border: 1px solid red;
    margin: 5rem auto 0;
    max-width: 1300px;
  }

  h5 {
    text-transform: uppercase;
    border-bottom: 2px solid white;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  ul {
    padding: 2rem 0;
    display: grid;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3rem;
    }

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 5rem;
    }
  }

  li {
    padding-bottom: 1rem;
  }
}

.bath-section-grid {
  margin: 2rem 0 6rem;

  @include tablet {
    margin: 10rem 0 6rem;
  }

  .grid-child-1 {
    @include tablet {
      grid-row: initial;
      grid-row: 1/3;
    }
  }

  .grid-child-2 {
    @include tablet {
      margin-top: initial;
      grid-column: initial;
      grid-row: initial;
      grid-column: 6/11;
    }
  }

  .grid-child-3 {
    @include tablet {
      grid-row: 2/3;
      grid-column: 6/11;
    }
  }

  .inner-page-section-header {
    padding: 2rem 0;

    @include tablet {
      padding: 5rem 0 3rem;
    }

    @include desktopl {
      padding: 10rem 0 3rem;
    }
  }

  ul {
    padding-bottom: 2rem;

    @include tablet {
      padding-bottom: 5rem;
    }

    @include desktopl {
      padding-bottom: 10rem;
    }

    li {
      padding-bottom: 1rem;
    }
  }
}

.contact-page-flex {
  // border: 3px solid red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  section.contact {
    flex: 1;
  }
}

// .mySwiperTest {
//   border: 1px solid red;
// }
section.gallery-section {
  visibility: hidden;
}

.swip-container {
  height: 325px;
  @include tablet {
    height: 450px;
  }
  @include desktop {
    height: 645px;
  }
}
