	$primary-color: #54565a;
	$dark-color: #161617;
	$light-color: #FFFFFF;
	@import "fonts/stylesheet.css";
	a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;outline:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block;position:relative}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a,ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}*{text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;-webkit-tap-highlight-color:transparent;-webkit-font-smoothing:subpixel-antialiased}*,:after,:before{box-sizing:border-box;margin:0;padding:0}	
	textarea, input, button, select { font-family: inherit; font-size: inherit; }
		


	/* ----------START MOBILE  ---------- */
		.wow {
		  	visibility: hidden;
		}
		html,body {
			width:100%;
			height: 100%;
		}
		header {
			width:100%;
			height: 100%;
			position: relative;
			display: block;
		}
		main {
			width:100%;
			display: block;
			position: relative;
		}
		header .copy {
			top:50%;
			transform: translateY(-50%);
			position: absolute;
			margin:0 auto;
			left:0;
			right:0;
			width:81%;
			max-width: 650px;
			text-align: center;
			opacity: 0;
		}
		.page_ready header .copy {
			opacity: 1;
		}
		header .copy h1 {
			margin-top:50px;
		}
		header .copy h1 span {
			display: block;
			margin-top:20px;
		}
		header .copy .logo img {
			width:100%;
			height:auto;
		}
		.img.bgimage {
			position: absolute;
			width: 100%;
			height:100%;
			z-index:-1;
		}
		header .scrolldown {
			position: absolute;
			bottom:40px;
			left:0;
			right:0;
			margin:0 auto;
			text-align: center;
		}
		header .scrolldown img {
			width:100px;
		}
		.bgimage {
			background-size:cover;
			background-position:center center;
			background-repeat:no-repeat;
		} 
		.bgimage.bottom {
			background-position:center bottom;
		}
		
		.video-background {
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    min-width: 100%;
		    min-height: 100%;
		    width: auto;
		    height: auto;
		    z-index: 1;
		    -webkit-transform: translateX(-50%) translateY(-50%);
		    -moz-transform: translateX(-50%) translateY(-50%);
		    -ms-transform: translateX(-50%) translateY(-50%);
		    -o-transform: translateX(-50%) translateY(-50%);
		    transform: translateX(-50%) translateY(-50%);
		    background-size: cover;
		}
		.holdthanks,
		#formerror {
			display: none;
		}
		#formerror {
			text-align:right;
		}
		.holdthanks {
			margin:30px auto;
			text-align: left;
		}
		#formerror {
			margin:6px auto 20px;
		}
		.contactfields {
			outline: 0;
			border: 0px;
			border-bottom: 2px solid $dark-color;
			margin:0px auto 30px;
			background-color: transparent;
			width:100%;
			padding:4px;
			font-size:16px;
			border-radius: 0px;
		}
		.holdbtn {
			border-bottom: 3px solid $dark-color;
		}
		form {
			margin-top:50px;
		}
		form .input label {
			position: absolute;
			top:-2px;
			left:4px;
			cursor: text;
		}
		form .input {
			position: relative;
	    	margin: 20px auto;
	    	width: 100%;
		}

		form .input .holddate .label {
			display: inline-block;
		}
		form .input .holddate input {
			width: 47px;
		    height: 25px;
		    font-size: 16px;
		    outline: 0;
		    border: 0px;
		    border-bottom: 1px solid #ccc;
		    text-align: left;
		    padding: 0px 4px 0px;
		    margin-right: 8px;
		}
		form .input .holddate input.year {
			width:60px;
		}
		.holdradiobuttons {
			position: relative;
			display: block;
			margin-left:20px;
		}
		.holdradiobuttons .label {
		    display: inline-block;
		    margin-bottom: 10px;
		    margin-right: 8px;
		}

		.radiocontainer {
		    display: block;
		    position: relative;
		    padding-left: 27px;
		    padding-top: 2px;
		    margin-bottom: 12px;
		    margin-right: 14px;
		    cursor: pointer;
		    -webkit-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
		}

		/* Hide the browser's default radio button */
		.radiocontainer input {
		    position: absolute;
		    opacity: 0;
		    cursor: pointer;
		}

		/* Create a custom radio button */
		.radiocontainer .checkmark {
		    position: absolute;
		    top: 0;
		    left: 0;
		    height: 18px;
		    width: 18px;
		    background-color: #eee;
		    border:1px solid #000;
		    border-radius: 50%;
		}

		/* On mouse-over, add a grey background color */
		.radiocontainer:hover input ~ .checkmark {
		    background-color: #000;
		}

		/* When the radio button is checked, add a blue background */
		.radiocontainer input:checked ~ .checkmark {
		    background-color: #eee;
		}

		/* Create the indicator (the dot/circle - hidden when not checked) */
		.radiocontainer .checkmark:after {
		    content: "";
		    position: absolute;
		    display: none;
		}

		/* Show the indicator (dot/circle) when checked */
		.radiocontainer input:checked ~ .checkmark:after {
		    display: block;
		}

		/* Style the indicator (dot/circle) */
		.radiocontainer .checkmark:after {
		 	top: 2px;
		    left: 2px;
		    width: 12px;
		    height: 12px;
			border-radius: 50%;
			background: #000;
		}
		a.btn {
			padding:10px 30px;
			display: inline-block;
		}
		header .copy .line1,
		header .copy .line2,
		header .copy .line3,
		header .copy .line {
			position: absolute;
			left:0;
			right:0;
		}
		header .copy .line  {
			opacity: 0;
		}
		header .copy .hidden {
			overflow:hidden;
			height:70px;
		}
		header .copy .line1.hidden {
			top:0px;
		}
		header .copy .line1.hidden .line {
			top:-75px;
		}
		header .copy .line2.hidden {
			top:85px;
		}
		header .copy .line2.hidden .line {
			top:75px;
		}
		header .copy .line3.hidden {
			top:167px;
		}
		header .copy .line3.hidden .line {
			top:-75px;
		}
		section.top .holdcontent {
			padding:80px 30px;
			max-width: 800px;
			margin:0 auto;
		}
		section.top .holdcontent h2 {
			margin-bottom: 10px;
			line-height: 100%;
		}
		section.top .holdcontent p {
			margin-top: 30px;
		}
		p {
			line-height: 130%;
		}
		section.splitbox {
			width:100%;
		}
		section.splitbox .holdcontent {
			display: block;
			margin:0 auto;
			position: relative;
			height: 100%;
		}
		section.splitbox .holdcontent .col {
			width:100%;
			/*flex:1 0;*/
			position: relative;
			height:100%;
			display: block;
		}
		section.splitbox .holdcontent .col.copyarea {
			padding:30px;
		}
		section.splitbox .holdcontent .col.photo {
			height: 90vh;
		}
		section.splitbox .holdcontent .col.copyarea .copy {
			position: relative;
			text-align: center;
			margin:20px auto;
		}
		section.splitbox .line {
			width:50px;
			display: block;
			height:3px;
			margin:30px auto 30px;
		}
		section.splitbox ul li {
			line-height: 130%;
			margin:14px auto;
		}

		.swiper-container {
		  width: 100%;
		  height: 100%;
		}
		.swiper-pagination-bullet-active {
		  background:$light-color !important;
		}
		.swiper-pagination-bullet {
			width:12px !important;
			height:12px !important;
		}
		.swiper-container .next,
		.swiper-container .prev {
		  top:50%;
		  transform:translateY(-50%);
		  position: absolute;
		  z-index:10;
		  cursor: pointer;
		  display: none;
		}
		.swiper-container .next img,
		.swiper-container .prev img {
		  width:40px;
		}
		.swiper-container .next {
		  right:20px;
		}
		.swiper-container .prev {
		  left:20px;
		}
		section.splitbox.contact .holdcontent .col.copyarea .copy {
			text-align: left;
			width:95%;
		}
		section.splitbox.contact .holdcontent .col.copyarea .copy h2 {
			margin-bottom: 40px;
		}
		section.splitbox.contact .holdcontent .col.copyarea .copy p {
			margin-bottom: 20px;
		}
		section.splitbox.contact .holdcontent .col.copyarea .copy p a {
			text-decoration: underline;
		}
		.holdbtn a.btn {
			float:right;
		}
		.clearfloats {
			clear:both;
		}
		footer .holdcontent {
			padding:20px 10px 30px;
			margin:0 auto;
			width:100%;
			max-width: 1100px;
			text-align: center;
		}
		footer .holdcontent ul li {
			display: block;
			text-align: center;
			margin:0px auto 10px;
		}
		footer .footerlogos {
			display:flex;
			width:300px;
			margin:15px auto 0px;
		}

		footer .footerlogos .col {
			flex:1;
		}
		footer .footerlogos img {
			height:20px;
			margin-right: 10px;
		}
		footer .footerlogos img:last-child {
			margin-right: 0px;
		}


			/* letter spacing */
			a.btn {
				letter-spacing: 2px;
				font-size:1.2rem;
			}
			h1 {
				font-size: 1.3rem;
			}
			h2 {
				font-size: 2rem;
				letter-spacing: 5px;
			}
			section.splitbox ul li,p {
				font-size: 1rem;
			}
			form .input label,
			.holdbtn a.btn,
			footer .holdcontent ul li {
				font-size: 1.7rem;
				letter-spacing: 5px;
			}
			footer .disclaimer {
				font-size:0.4rem;
			}

	/* ---------- END MOBILE  ---------- */







	/* ---------- BREAK POINTS  ---------- */


		@media (min-width: 768px) {

			footer .holdcontent ul li {
				display: inline-block;
				text-align: center;
			}
			footer .holdcontent ul li:after {
				content:' | ';
			}
			footer .holdcontent ul li:last-child:after {
				content:' ';
			}
			header .copy {
				width:100%;
			}
			header {
				min-height: 650px;
			}
			.radiocontainer {
			    display: inline-block;
			}
			.holdradiobuttons {
				margin-left:26px;
			}


					h1 {
						font-size: 2.2rem;
					}
					h2 {
						font-size: 4.2rem;
						letter-spacing: 10px;
					}
					section.splitbox ul li,p {
						font-size: 1.23rem;
					}
		}


		@media (min-width: 992px) {
			
			section.splitbox.contact .holdcontent .col.copyarea .copy {
				width:80%;
			}
			section.splitbox {
				height:80vh;
				min-height: 800px;
			}

			section.splitbox .holdcontent .col.photo {
				height: 100%;
			}
			section.splitbox .holdcontent .col.copyarea .copy {
				position: absolute;
				top:50%;
				transform: translateY(-50%);
				text-align: center;
				left:0;
				right:0;
			}
			section.splitbox .holdcontent {
				display: flex;
				display: -webkit-flex;
			}
			section.splitbox.amenities .holdcontent {
				flex-direction: row-reverse;

			}
			section.splitbox .holdcontent .col {
				width:50%;
			}

		}

		/* iPhone 4 */
		@media screen and (max-width:320px) {
			
		}

		/* Small Laptops */
		@media only screen and (min-width: 768px) and (max-height: 700px)  {

		}


	/* ---------- ACROSS THE BOARD VARIABLES ---------- */
		
		/*------- FONTS ------- */
			
			html,body {
				font-family: 'Archer Book';
				-webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			}
			.italic,
			.holdthanks {
				font-family: 'Archer Book Italic';
				-webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			    font-style: italic;
			}
			h2,
			form .input label,
			.holdbtn a.btn,
			footer .holdcontent ul li,
			footer a {
				font-family: 'Knockout';
				-webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			}
			section.splitbox.contact .holdcontent .col.copyarea .copy p a {
				font-family: 'Archer-bold';
				-webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			}
			/* 
				Archer Book Italic
				Knockout
			*/

		/*-------  COLORS -------*/

			/* WHITE */
			a.btn,
			a.btn.gold,
			header .copy,
			footer a {
				color:$light-color;
			}
			section.top,
			section.splitbox.amenities .col.copyarea .copy,
			footer {
				color:$light-color;
			}
			
			/* BLACK */
			section.splitbox .line,
			.holdbtn a.btn,
			section.splitbox.contact .holdcontent .col.copyarea .copy p a {
				color:$dark-color;
			}

			/*------- BACKGROUND COLORS ------- */
				

			/* BACKGROUND COLOR */
			section.top,
			section.splitbox .line {
				background-color:$dark-color;
			}
			footer {
				background-color:$primary-color;
			}

			section.splitbox.amenities .line {
				background-color:$light-color;
			}

		/*-------  TEXT FORMATTING ------- */ 

			/* UPPERCASE*/
			a.btn,
			h2,
			form .input label {
				text-transform:uppercase;
			}
			
			/* Capitalize */
			.x {
				text-transform:capitalize;
			}
			
			/* NO UNDERLINE */
			.x {
				text-decoration:none;
			}
			
			/* BORDER BOXING  */
			.x {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			
			/* TEXT CENTER */
			.homepage main {
				text-align:center;
			}


		/* ------ ANIMATION ---------*/
			
			.x   {
				-webkit-animation: moveup; 
				-moz-animation: moveup; 
				-o-animation: moveup; 
				animation:moveup;
			}
			.x  {
			   animation-iteration-count: 1;
			   -webkit-animation-iteration-count: 1;
				animation-fill-mode:both;
			   -webkit-animation-fill-mode: both;
			}
			.x   {
				-webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
    			animation-timing-function: linear;
			}
			.x {
			   -webkit-animation-delay: .1s; 
	      		animation-delay:  .1s;
			}
			.x {
				-webkit-animation-duration: 0.5s; 
		   		animation-duration: 0.5s;
			}
			
			@keyframes moveup {
			  0% {
			    bottom:-140px;
			  }
			  100% {
			    bottom:0px;
			  }
			}

		/* ------ END ANIMATION ---------*/
		



		/* ------ TRANSITIONS ---------*/
			
			body,
			.popup_editor,
			.popup_editor_interface,
			header .copy {
				-o-transition: .5s;
			   -ms-transition: .5s;
			   -moz-transition: .5s;
			   -webkit-transition: .5s;
			   transition: .5s;
			}
			.nav.mobile {
			   -webkit-transition-duration: 0.6s;
			   -moz-transition-duration: 0.6s;
			   -o-transition-duration: 0.6s;
			   transition-duration: 0.6s;
			}
			#hamburger .nav-icon span {
				-moz-transition: all 320ms cubic-bezier(0.165,0.840,0.440,1.000) 0ms;
				-o-transition: all 320ms cubic-bezier(0.165,0.840,0.440,1.000) 0ms;
				-webkit-transition: all 320ms cubic-bezier(0.165,0.840,0.440,1.000);
				-webkit-transition-delay: 0ms;
				transition: all 320ms cubic-bezier(0.165,0.840,0.440,1.000) 0ms;
			}
			.x {
			   -webkit-transition-delay: 0.1s; /* Safari */
			   transition-delay: 0.1s;
			}
			.nav.mobile {
				-webkit-transition-timing-function: cubic-bezier(.86,.03,.53,1.01); /* Safari and Chrome */
				transition-timing-function: cubic-bezier(.86,.03,.53,1.01);
			}
			
	/* ------ END TRANSITIONS ---------*/
	
		
		
	/*-------  ANIMATIONS KEYFRAMES  ------- */
		header .img.bgimage {
		    animation: fadein 1s;
		    -moz-animation: fadein 1s; 
		    -webkit-animation: fadein 1s;
		    -o-animation: fadein 1s; 
		}

		@keyframes fadein {
		    from {
		        opacity:0;
		    }
		    to {
		        opacity:1;
		    }
		}
		@-moz-keyframes fadein { /* Firefox */
		    from {
		        opacity:0;
		    }
		    to {
		        opacity:1;
		    }
		}
		@-webkit-keyframes fadein { /* Safari and Chrome */
		    from {
		        opacity:0;
		    }
		    to {
		        opacity:1;
		    }
		}
		@-o-keyframes fadein { /* Opera */
		    from {
		        opacity:0;
		    }
		    to {
		        opacity: 1;
		    }
		}


