		
		.contactform {
			font-size:14px;
		}
		.holdthanks,
		#formerror {
			font-size: 16px;
		}
        h1 {
        	font-size: 40px;
        	line-height: 90%;
        	letter-spacing: 9px;
        }
        h2 {
        	font-size: 14px;
        	line-height: 130%;
        	letter-spacing: 0px;
        }
        .contactform label,
        a.btn,
        .contactfields {
			letter-spacing: 3px;
        }

		@media (min-width: 768px) {
			
			
	        .contactform,
	        .contactfields  {
	        	font-size: 20px;
	        }
			.holdthanks,
			#formerror {
				font-size: 16px;
			}


		}

		
		@media (min-width: 992px) {


			
			h1 {
				font-size: 60px;
				line-height: 130%;
			}
			h2 {
				font-size: 17px;
				line-height: 140%;
			}
		}
