	@import "fonts/stylesheet.css";
	a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;outline:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block;position:relative}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a,ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}*{text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;-webkit-tap-highlight-color:transparent;}*,:after,:before{box-sizing:border-box;margin:0;padding:0}	
	textarea, input, button, select { font-family: inherit; font-size: inherit; }
	@import "vars";	


	/* ----------START MOBILE  ---------- */
		.wow {
		  	visibility: hidden;
		}
		html,body {
			width:100%;
			height: 100%;
		}
		header,
		.bggrad {
			opacity: 0;
		}
		.page_ready header,
		.page_ready .bggrad {
			opacity: 1;
		}
		header,
		.swiper-container {
			width:100%;
			height: 100%;
			overflow:hidden;
			min-height: 600px;
		}
		.swiper-container {
			overflow:hidden;
		}
		main {
			width:100%;
			height:100%;
			display: block;
			position: relative;
		}
		.bgimage {
			background-size:cover;
			background-position:center center;
			background-repeat:no-repeat;
		} 
		.bgimage.bottom {
			background-position:center bottom;
		}
		
		.video-background {
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    min-width: 100%;
		    min-height: 100%;
		    width: auto;
		    height: auto;
		    z-index: 1;
		    -webkit-transform: translateX(-50%) translateY(-50%);
		    -moz-transform: translateX(-50%) translateY(-50%);
		    -ms-transform: translateX(-50%) translateY(-50%);
		    -o-transform: translateX(-50%) translateY(-50%);
		    transform: translateX(-50%) translateY(-50%);
		    background-size: cover;
		}
		a.btn {
			padding:10px 30px;
			display: inline-block;
		}
		header .img {
			position: absolute;
			width:100%;
			height:100%;
			opacity: 0;
			z-index:1;
		}
		header .arrowdown {
			position: absolute;
			bottom: 40px;
			margin:0 auto;
			left:0;
			right:0;
			text-align: center;
			z-index:4;
			opacity: 0;
		}
		header .arrowdown img {
			width: 60px;
			height: 32px;
		}
		header .coverup {
			position: fixed;
			top:0;
			width:100%;
			height:100vh;
			z-index:100;
		}
		@import "font-sizes";
		@import "form";
		
		.swiper-slide  {
			width:100%;
		    height: 100%;
		}
		.swiper-slide figure,
		.swiper-slide figure picture {
		    height: 100%;
		    position: relative;
		    display: block;
		}
		.swiper-slide figure picture img {
		    width: 100%;
		    max-width: 100%;
		    height: 100%;
		    -o-object-fit: cover;
		    object-fit: cover;
		    object-position: 50% 50%; 
		    background-size:cover;
		    background-position: center center;
		    background-origin: content-box;
		}
		.swiper-container .next,
        .swiper-container .prev {
          top:50%;
          transform:translateY(-50%);
          position: absolute;
          z-index:10;
          cursor: pointer;
        }
        .swiper-container .next img,
        .swiper-container .prev img {
          width:20px;
        }
        .swiper-container .next {
          right:10px;
        }
        .swiper-container .prev {
          left:10px;
        }
		header .next,
        header .prev {
          top:50%;
          transform:translateY(-50%);
          position: absolute;
          z-index:10;
          cursor: pointer;
        }
        header .next img,
        header .prev img {
          width:20px;
        }
        header .next {
          right:10px;
        }
        header .prev {
          left:10px;
        }
        header .logo {
        	position: absolute;
        	z-index: 10;
        	top:10px;
        	margin:0 auto;
        	left:0;
        	right:0;
        	width: 140px;
        }
        header .holdcontent {
        	position: absolute;
        	z-index: 10;
        	top:80px;
        	margin:0 auto;
        	left:0;
        	right:0;
        	width: 95%;
        	max-width: 600px;
			text-align: center;
        }
        header .holdcontent .copy {
        	position: relative;
        	margin:0 auto;
        	text-align: center;
			text-shadow: 2px 0px 14px rgba(0,0,0,0.45);
        }
        header .copy h1 {
        	position: relative;
        	display: block;
        }
        header .logo img {
        	position: relative;
        	margin:0 auto;
        	display: block;
        	width:100%;
        }
        header .contactform {
        	max-width: 450px;
        	margin:20px auto 10px;
        }
        header .holdbtn {
        	display: block;
        	max-width: 250px;
        	margin:15px auto 0px;
        }
        header .holdbtn .col {
        	text-align: center;
        }
        header .holdbtn a.btn {
        	width: 100%;
        	text-align: center;
        }
        header .holdbtn .col.entersite {
        	text-align: center;
        	padding-top: 20px;
        	position: relative;
        }
        header .holdbtn .col.entersite a {
        	color:$color-white;
        	margin-top:10px;
        	position: relative;
        	display: block;
        }

        .bggrad {
        	position: absolute;
        	top:0;
        	left:0;
        	right:0;
        	width:100%;
        	height:100%;
        	background-color: rgba(0,0,0,0.3);
        	z-index:1;
        }
        h2 {
        	margin-top: 10px;
        }


	/* ---------- END MOBILE  ---------- */







	/* ---------- BREAK POINTS  ---------- */


		@media (min-width: 768px) {

			
			header,
			.swiper-container {
				min-height: 800px;
			}

			header .contactform {
				margin:40px auto 10px;
			}
			header .logo {
				top:40px;
				width: 200px;
			}

	        header .holdcontent {
	        	top:150px;
	        }

	        header .holdbtn .col.entersite {
	        	text-align: right;
	        	padding-top: 0px;
	        }
	        header .holdbtn {
	        	display: flex;
	        }
	        header .holdbtn .col {
	        	flex:1.5;
	        	text-align: left;
	        }

	        header .holdbtn {
	        	max-width: 100%;
	        	margin:0 auto;
	        }
			
		}


		@media (min-width: 992px) {
			

			.swiper-container .next img,
			.swiper-container .prev img {
			  width:40px;
			}
			.swiper-container .next {
			  right:20px;
			}
			.swiper-container .prev {
			  left:20px;
			}
			header .next img,
			header .prev img {
			  width:40px;
			}
			header .next {
			  right:20px;
			}
			header .prev {
			  left:20px;
			}
		}

		/* iPhone 4 */
		@media screen and (max-width:320px) {
			
		}

		/* Small Laptops */
		@media only screen and (min-width: 768px) and (max-height: 700px)  {

		}


	/* ---------- ACROSS THE BOARD VARIABLES ---------- */
		
		/*------- FONTS ------- */
			
			html,body {
				font-family: 'ArcherBook';
				-webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			}
			h1,
			a.btn,
			form .input label,
			.contactfields {
				font-family: 'Knockout';
				-webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			}
			h2 {
				font-family: 'ArcherBook';
				-webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			}

		/*-------  COLORS -------*/

			/* WHITE */
			header .copy {
				color:$color-white;
			}
			
			/* BLACK */
			a.btn {
				color:$color-black;
			}

			/*------- BACKGROUND COLORS ------- */
				

			/* BACKGROUND COLOR */
			.menu,
			header .coverup {
				background-color:$color-black;
			}
			a.btn {
				background-color:$color-white;
			}

		/*-------  TEXT FORMATTING ------- */ 

			/* UPPERCASE*/
			a.btn,
			h1,
			label {
				text-transform:uppercase;
			}
			
			/* Capitalize */
			.x {
				text-transform:capitalize;
			}
			
			/* NO UNDERLINE */
			.x {
				text-decoration:none;
			}
			
			/* BORDER BOXING  */
			.x {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			
			/* TEXT CENTER */
			.x {
				text-align:center;
			}


		/* ------ ANIMATION ---------*/
			
			.x   {
				-webkit-animation: moveup; 
				-moz-animation: moveup; 
				-o-animation: moveup; 
				animation:moveup;
			}
			.x  {
			   animation-iteration-count: 1;
			   -webkit-animation-iteration-count: 1;
				animation-fill-mode:both;
			   -webkit-animation-fill-mode: both;
			}
			.x   {
				-webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
    			animation-timing-function: linear;
			}
			.x {
			   -webkit-animation-delay: .1s; 
	      		animation-delay:  .1s;
			}
			.x {
				-webkit-animation-duration: 0.5s; 
		   		animation-duration: 0.5s;
			}
			
			@keyframes moveup {
			  0% {
			    bottom:-140px;
			  }
			  100% {
			    bottom:0px;
			  }
			}

		/* ------ END ANIMATION ---------*/
		



		/* ------ TRANSITIONS ---------*/
			
			body,
			header,
			.bggrad {
				-o-transition: .5s;
			   -ms-transition: .5s;
			   -moz-transition: .5s;
			   -webkit-transition: .5s;
			   transition: .5s;
			}
			.x {
			   -webkit-transition-duration: 0.6s;
			   -moz-transition-duration: 0.6s;
			   -o-transition-duration: 0.6s;
			   transition-duration: 0.6s;
			}
			.x {
				-moz-transition: all 320ms cubic-bezier(0.165,0.840,0.440,1.000) 0ms;
				-o-transition: all 320ms cubic-bezier(0.165,0.840,0.440,1.000) 0ms;
				-webkit-transition: all 320ms cubic-bezier(0.165,0.840,0.440,1.000);
				-webkit-transition-delay: 0ms;
				transition: all 320ms cubic-bezier(0.165,0.840,0.440,1.000) 0ms;
			}
			.bggrad {
			   -webkit-transition-delay: 0.3s; /* Safari */
			   transition-delay: 0.3s;
			}
			.x {
				-webkit-transition-timing-function: cubic-bezier(.86,.03,.53,1.01); /* Safari and Chrome */
				transition-timing-function: cubic-bezier(.86,.03,.53,1.01);
			}
			
	/* ------ END TRANSITIONS ---------*/
	
		
		
	/*-------  ANIMATIONS KEYFRAMES  ------- */
		.wrapper,.container {
		    animation: fadein 1s;
		    -moz-animation: fadein 1s; 
		    -webkit-animation: fadein 1s;
		    -o-animation: fadein 1s; 
		}

		@keyframes fadein {
		    from {
		        opacity:0;
		    }
		    to {
		        opacity:1;
		    }
		}
		@-moz-keyframes fadein { /* Firefox */
		    from {
		        opacity:0;
		    }
		    to {
		        opacity:1;
		    }
		}
		@-webkit-keyframes fadein { /* Safari and Chrome */
		    from {
		        opacity:0;
		    }
		    to {
		        opacity:1;
		    }
		}
		@-o-keyframes fadein { /* Opera */
		    from {
		        opacity:0;
		    }
		    to {
		        opacity: 1;
		    }
		}


