@font-face {
  font-family: "Century Gothic Bold";
  src: url("../fonts/Century-Gothic-Bold.woff2") format("woff2"),
    url("../fonts/Century-Gothic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/Century-Gothic-Regular.woff2") format("woff2"),
    url("../fonts/Century-Gothic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Knockout";
  src: url("../fonts/Knockout.eot");
  src: url("../fonts/Knockout.eot") format("embedded-opentype"),
    url("../fonts/Knockout.woff2") format("woff2"),
    url("../fonts/Knockout.woff") format("woff"),
    url("../fonts/Knockout.ttf") format("truetype"),
    url("../fonts/Knockout.svg#Knockout") format("svg");
}
@font-face {
  font-family: "ArcherBook";
  src: url("../fonts/ArcherBook.eot");
  src: url("../fonts/ArcherBook.eot") format("embedded-opentype"),
    url("../fonts/ArcherBook.woff2") format("woff2"),
    url("../fonts/ArcherBook.woff") format("woff"),
    url("../fonts/ArcherBook.ttf") format("truetype"),
    url("../fonts/ArcherBook.svg#ArcherBook") format("svg");
}
@font-face {
  font-family: "Icons";
  src: url("../fonts/fontello.eot?14613821");
  src: url("../fonts/fontello.eot?14613821#iefix") format("embedded-opentype"),
    url("../fonts/fontello.woff2?14613821") format("woff2"),
    url("../fonts/fontello.woff?14613821") format("woff"),
    url("../fonts/fontello.ttf?14613821") format("truetype"),
    url("../fonts/fontello.svg?14613821#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "Icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.icon-phone:before {
  content: "\e800";
} /* '' */
.icon-mail:before {
  content: "\e801";
} /* '' */
.icon-angle-left:before {
  content: "\e80e";
} /* '' */
.icon-angle-right:before {
  content: "\e813";
} /* '' */
.icon-angle-up:before {
  content: "\e815";
} /* '' */
.icon-angle-down:before {
  content: "\e816";
} /* '' */
.icon-menu:before {
  content: "\e8ca";
} /* '' */
.icon-menu-humb:before {
  content: "\ea4c";
} /* '' */
.icon-menu-button:before {
  content: "\ea4e";
} /* '' */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: "ArcherBook";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(35, 31, 32);
  text-align: left;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: normal;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}
p.holdthanks {
  display: none;
}
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: rgb(82, 84, 89);
  text-decoration: none;
  background-color: transparent;
  position: relative;
  display: inline-block;
  line-height: 1;
}

a:hover {
  color: rgb(82, 84, 89);
  text-decoration: none;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  padding: 0;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}
.page_loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999;
}
.top-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.top-mess {
  background: #1b1b19;
  height: 36px;
  text-align: center;
  padding: 8px 10px;
  color: #fff;
  font-size: 19px;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.header {
  background-image: url(../images/pattern1.png);
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0.8rem 0.8rem 0.8rem 0rem;
  transform: translateY(-2px);
}
@media (min-width: 992px) {
  .header {
    padding: 1.2rem 2rem 1.2rem 0rem;
  }
}
.mobile-icons {
  display: none;
  position: absolute;
  left: 15px;
  font-size: 20px;
  line-height: 1;
  top: 16px;
  z-index: 2;
}
.mobile-icons a + a {
  margin-left: 10px;
}
.header-dropdown {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Knockout";
  color: #000000;
  font-size: 12px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
.header-dropdown .label {
  padding-left: 0.8rem;
  cursor: pointer;
  position: relative;
}
.header-dropdown .label:after {
  position: absolute;
  right: -12px;
  top: 7px;
  content: "";
  background: url("../images/icons/Community-Down-black-01.svg");
  width: 9px;
  height: 9px;
  background-repeat: no-repeat;
  background-size: contain;
}
.header-dropdown .label.activate:after {
  transform: rotate(180deg);
  top: 5px;
}
.header-dropdown .dropdown {
  position: absolute;
  background-color: rgb(255, 255, 255, 0.8);
  top: 48px;
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}
.header-dropdown .dropdown.activate {
  /* display: block; */
  opacity: 1;
  visibility: visible;
}
.header-dropdown .dropdown ul {
  padding-left: 0.8rem;
  padding-top: 0.7rem;
  padding-right: 1rem;
  list-style-type: none;
}
.header-dropdown .dropdown ul li a:before {
}
.header-dropdown .dropdown ul li.active a:before {
  content: "";
  position: absolute;
  display: block !important;
  top: 100%;
  height: 1px;
  width: 51%;
  background: #000;
}
.header-dropdown .dropdown ul li a {
  color: black;
}
@media (min-width: 500px) {
  .header-dropdown {
    font-size: 24px;
    letter-spacing: 7px;
  }
  .header-dropdown .label {
    padding-left: 2rem;
  }
  .header-dropdown .dropdown {
    top: 61px;
    width: 196px;
  }
  .header-dropdown .dropdown ul {
    padding-left: 2rem;
    font-size: 20px;
    letter-spacing: 5px;
  }
  .header-dropdown .label:after {
    right: -20px;
    top: 10px;
    width: 15px;
    height: 15px;
  }
}
@media (min-width: 992px) {
  .header-dropdown .dropdown {
    top: 74px;
  }
}
.header-left {
  /* float: left; */
  flex: 0.8;
  text-align: center;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-right {
  /* float: right; */
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.main-nav {
  display: none;
  vertical-align: middle;
  /* margin-right: 97px; */
}
.main-menu {
  margin-bottom: 0;
}
.main-menu li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
}
.main-menu li a {
  color: rgb(35, 31, 32);
  font-size: 24px;
  font-family: "Knockout";
  letter-spacing: 7px;
  position: relative;
}
.main-menu li a:before,
.main-menu li a:after {
  content: "";
  position: absolute;
  top: 100%;
  height: 1px;
  width: 51%;
  background-color: rgb(35, 31, 32);
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: 0.4s transform cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: 0.4s transform cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-transition: 0.4s transform cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: 0.4s transform cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.4s transform cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
}
.main-menu li a:before {
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -ms-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right;
  left: 0;
}
.main-menu li a:after {
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
  right: 7px;
  width: calc(51% - 7px);
}
.main-menu li.active a:before,
.main-menu li.active a:after,
.main-menu li a:hover:before,
.main-menu li a:hover:after {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
.main-menu li.desktopxllink {
  display: none;
}
@media (min-width: 992px) {
  .main-nav {
    display: inline-block;
  }
  .opened_menu .main-nav {
    margin-right: 30px;
  }
}
@media (min-width: 1300px) {
  .main-menu li.desktopxllink {
    display: inline-block;
  }
}
.open-menu-btn {
  border: 0;
  background: transparent;
  color: rgb(35, 31, 32);
  font-size: 24px;
  font-family: "Knockout";
  letter-spacing: 7px;
  /* margin-right: 8px; */
  line-height: 1;
  position: relative;
  top: -3px;
  z-index: 101;
}
.open-menu-btn i {
  line-height: 1;
  display: inline-block;
  position: relative;
  /* top: 2px; */
  margin-left: 0;
  font-size: 28px;
  letter-spacing: normal;
}
.home_page {
  height: 100%;
}
.fp-section {
  height: 100vh;
}
.fullpage-wrapper .section:before {
  /*content: '';*/
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transition: width 0.4s ease;
  -moz-transition: width 0.4s ease;
  -ms-transition: width 0.4s ease;
  -o-transition: width 0.4s ease;
  transition: width 0.4s ease;
  z-index: 2;
}
.fullpage-wrapper .section.fp-completely:before {
  width: 0;
}
#intro:before {
  display: none;
}
.section {
  position: relative;
  text-align: center;
  overflow: hidden;
}
.full-img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.full-img-oe.amenities {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.full-img.fix {
  -webkit-transform: translate(-50%, 10%);
  -moz-transform: translate(-50%, 10%);
  -ms-transform: translate(-50%, 10%);
  -o-transform: translate(-50%, 10%);
  transform: translate(-50%, 10%);
}
.intro-page,
.section-title-wrap {
  position: absolute;
  z-index: 2;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  display: table;
}
.section-title-wrap {
  padding-top: 120px;
  padding-bottom: 370px;
}
.intro,
.section-title-block {
  display: table-cell;
  vertical-align: middle;
}
.logo a {
  display: block;
  width: 135px;
  margin: 0 auto;
}
.logo img {
  width: 100%;
}
ul,
ol {
  list-style-position: inside;
}
.menu-wrap {
  background: #1b1b19;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 0;
  text-align: center;
  opacity: 0;
  will-change: top, opacity;
  -webkit-transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 1.1s;
  -moz-transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 1.1s;
  -ms-transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 1.1s;
  -o-transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 1.1s;
  transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 1.1s;
  visibility: hidden;
  z-index: 99;
  padding-top: 0;
}
.opened_menu .menu-wrap {
  height: 90%;
  height: calc(100vh - 80px);
  opacity: 1;
  visibility: visible;
}
.open_menu .menu-wrap {
  overflow: auto;
}
.header:before {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  z-index: 50;
  content: "";
  pointer-events: none;
  -webkit-transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.3s;
  -moz-transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.3s;
  -ms-transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.3s;
  -o-transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.3s;
  transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.3s;
}
.opened_menu .header:before {
  background: rgba(0, 0, 0, 1);
}
.opened_menu .open-menu-btn {
  color: #fff;
}
.menu-inner {
  display: table;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.menu-inner-block {
  display: table-cell;
  vertical-align: middle;
  opacity: 0;
  -webkit-transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.3s;
  -moz-transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.3s;
  -ms-transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.3s;
  -o-transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.3s;
  transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.3s;
}
.opened_menu .menu-inner-block {
  opacity: 1;
  -webkit-transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.7s 0.3s;
  -moz-transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.7s 0.3s;
  -ms-transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.7s 0.3s;
  -o-transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.7s 0.3s;
  transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.7s 0.3s;
}
.mobile-menu {
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
}
.mobile-menu li {
  list-style: none;
  margin-bottom: 15px;
}
.mobile-menu li a {
  color: #fff;
  font-size: 60px;
}
.mobile-menu li a:before,
.mobile-menu li a:after {
  background: #fff;
  height: 3px;
}
.mobile-menu-footer {
  margin: 0 0 15px;
}
.mobile-menu-footer li {
  list-style: none;
  margin-bottom: 12px;
}
.mobile-menu-footer li a {
  font-family: "Knockout";
  font-size: 45px;
  color: #fff;
  letter-spacing: 7px;
}
.mobile-menu-footer li a:before,
.mobile-menu-footer li a:after {
  background: #fff;
}
.intro-block {
  position: relative;
  z-index: 3;
}
.social_links > a {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}
.social_links > a img {
  max-width: 100%;
  height: auto;
}
.intro-wrap {
  opacity: 0;
  -webkit-transition: opacity 0.6s 1s ease-in;
  -moz-transition: opacity 0.6s 1s ease-in;
  -ms-transition: opacity 0.6s 1s ease-in;
  -o-transition: opacity 0.6s 1s ease-in;
  transition: opacity 0.6s 1s ease-in;
}
.loaded .intro-wrap {
  opacity: 1;
}
.intro-logo {
  margin-bottom: 92px;
  -webkit-transition: opacity 0.6s 0.2s ease-in;
  -moz-transition: opacity 0.6s 0.2s ease-in;
  -ms-transition: opacity 0.6s 0.2s ease-in;
  -o-transition: opacity 0.6s 0.2s ease-in;
  transition: opacity 0.6s 0.2s ease-in;
  opacity: 0;
}
.loaded .intro-logo {
  opacity: 1;
}
.intro-logo img {
  width: 568px;
  max-height: 158px;
}
.intro-title {
  font-family: "Knockout";
  font-size: 134px;
  color: #fff;
  letter-spacing: 20px;
  margin-right: -20px;
  max-width: 1100px;
  margin: 0 auto;
  font-weight: normal;
  line-height: 0.95;
  position: relative;
  left: 10px;
}
.intro-desc {
  color: #fff;
  font-size: 37px;
  position: relative;
  top: -12px;
}
.scroll-down {
  font-size: 37px;
  right: 35px;
  color: #1b1b19;
  position: absolute;
  z-index: 5;
  background: transparent;
  border: 0;
  line-height: 1;
  bottom: 28px;
}
#intro .scroll-down,
.primary-section .scroll-down {
  width: 60px;
  font-size: 75px;
  left: 50%;
  margin-left: -30px;
  color: #fff;
  right: auto;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  -moz-transform: scale3d(0.5, 0.5, 0.5);
  -ms-transform: scale3d(0.5, 0.5, 0.5);
  -o-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
  -webkit-animation: move 3s ease-out 2;
  -o-animation: move 3s ease-out 2;
  animation: move 3s ease-out 2;
  display: block;
}
@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
.sub-block {
  padding-bottom: 250px;
}
.section-title {
  position: relative;
  z-index: 3;
  font-family: "Knockout";
  font-size: 100px;
  color: #fff;
  letter-spacing: 28px;
  font-weight: normal;
  line-height: 0.95;
  display: inline-block;
  padding-top: 5px;
  left: 10px;
}
.section-title:before,
.section-title:after {
  left: 50%;
  right: 28px;
  background: #fff;
  height: 4px;
  content: "";
  position: absolute;
  z-index: 1;
  -webkit-transform: translateX(-53%);
  -moz-transform: translateX(-53%);
  -ms-transform: translateX(-53%);
  -o-transform: translateX(-53%);
  transform: translateX(-53%);
  width: 0;
  -webkit-transition: width 0.4s 0.3s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: width 0.4s 0.3s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: width 0.4s 0.3s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: width 0.4s 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: width 0.4s 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.section.fp-completely .section-title:before,
.section.fp-completely .section-title:after {
  width: 95%;
}
.section-title:before {
  top: 100%;
}
.section-title:after {
  bottom: 100%;
}
.section-footer {
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  color: rgb(35, 31, 32);
  font-size: 19px;
  line-height: 1.35;
  -webkit-transition: all 0.4s 0.3s ease;
  -moz-transition: all 0.4s 0.3s ease;
  -ms-transition: all 0.4s 0.3s ease;
  -o-transition: all 0.4s 0.3s ease;
  transition: all 0.4s 0.3s ease;
  padding: 35px 15px;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  visibility: hidden;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  visibility: visible;
}
.fp-section.active .section-footer {
}
.section-footer-block {
  max-width: 870px;
  margin: 0 auto 31px;
}
.amenities .section-footer-block {
  max-width: 1050px;
}
.neigh .section-footer-block {
  max-width: 1110px;
}
.btn {
  padding: 12px 18px 11px 29px;
  font-family: "Knockout";
  font-size: 27px;
  letter-spacing: 11px;
  line-height: normal;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  border: 1px solid;
  display: inline-block;
}
.btn:after,
.btn:before {
  display: none;
}
.btn-primary {
  background: #1b1b19;
  color: #fff;
  border-color: #1b1b19;
}
.btn-primary:hover {
  color: rgb(35, 31, 32);
  background: #fff;
}
a:not([class^="icon-"]):before,
a:not([class^="icon-"]):after,
.btn-link:before,
.btn-link:after {
  content: "";
  position: absolute;
  top: 100%;
  height: 1px;
  width: 51%;
  background: #000;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: 0.4s transform cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: 0.4s transform cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-transition: 0.4s transform cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: 0.4s transform cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.4s transform cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
}
.active a:before,
.active a:after {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
a:before,
.btn-link:before {
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -ms-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right;
  left: 0;
}
a:after,
.btn-link:after {
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
  right: 0;
}
.btn-link:after {
  right: 5px;
  width: calc(51% - 5px);
}
a:hover:before,
a:hover:after,
.btn-link:hover:before,
.btn-link:hover:after {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
a.under-link:before,
a.under-link:after {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
a.under-link:hover:before,
a.under-link:hover:after {
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
}
.contacts_section {
  background: #fff;
}
.contacts-block {
  color: rgb(82, 84, 89);
  max-width: 650px;
  margin: 0 auto;
  font-size: 19px;
  padding: 100px 0;
}
.contacts-block a {
  color: rgb(82, 84, 89) !important;
}
.contacts-title {
  color: rgb(82, 84, 89);
  font-family: "Knockout";
  font-size: 62px;
  letter-spacing: 18px;
  margin-bottom: 30px;
}
.contacts-block p {
  margin-bottom: 32px;
  line-height: 2;
}
.contacts-footer,
.footer {
  background-color: #1b1b19;
  color: #fff;
  width: 100%;
  z-index: 5;
  padding-top: 15px;
  padding-bottom: 20px;
  font-family: "Knockout";
  text-align: center;
}
.contacts-footer {
  position: absolute;
  bottom: 0;
  left: 0;
}
.logos-block img {
  width: 55px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 1px;
}
.contacts-footer address,
.footer address {
  font-size: 32px;
  letter-spacing: 6px;
  margin-bottom: 6px;
}
.contacts-footer address a,
.footer address a {
  text-decoration: none;
  color: #fff;
}
.contacts-footer address a:after,
.footer address a:after,
.contacts-footer address a:before,
.footer address a:before {
  display: none;
}
.contacts-footer .logos-block,
.footer .logos-block {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.logos-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.1;
}
.form-control {
  display: block;
  width: 100%;
  height: 60px;
  padding: 5px 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(82, 84, 89);
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-bottom: 1px solid rgb(82, 84, 89);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  letter-spacing: 6px;
  font-family: "Knockout";
  text-transform: uppercase;
  border-radius: 0;
}
.form-footer {
  text-align: right;
  padding: 15px 0;
  border-bottom: 2px solid rgb(82, 84, 89);
}
.btn-link {
  letter-spacing: 6px;
  font-family: "Knockout";
  font-size: 20px;
  border: 0;
  background: transparent;
  position: relative;
  padding: 0;
  line-height: 1;
}
.form-block {
  margin-top: 42px;
}
.form-footer .btn-link {
  right: -5px;
}
:focus {
  outline: none;
}
.fp-tableCell {
  padding-top: 80px;
}
.contacts .fp-tableCell {
  padding-top: 0;
}
.logo a:before,
.logo a:after {
  display: none;
}
/*.fp-tableCell{
    position: relative;
}*/
.fp-controlArrow {
  display: none !important;
}

/*PAGE*/
.primary-section {
  position: relative;
  overflow: hidden;
}
.primary-section:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  overflow: hidden;
  background: -moz-linear-gradient(
    top,
    rgba(27, 27, 25, 0) 0%,
    rgba(27, 27, 25, 0.2) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(27, 27, 25, 0) 0%,
    rgba(27, 27, 25, 0.2) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(27, 27, 25, 0) 0%,
    rgba(27, 27, 25, 0.2) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001b1b19', endColorstr='#331b1b19',GradientType=0 );
  z-index: 2;
}
.container {
  padding: 0 15px;
  position: relative;
}
.primary-section .container {
  position: absolute;
  bottom: 30px;
  left: 2%;
  z-index: 5;
  color: #fff;
  font-size: 32px;
}
.sub-section {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.info-section {
  position: relative;
  display: flex;
  font-size: 19px;
  line-height: 1.4;
}
.block-title {
  font-family: "Knockout";
  font-size: 48px;
  letter-spacing: 14px;
  line-height: 1;
  margin: 0 0 7px;
}
.info-body {
  margin-bottom: 53px;
}
.sub-title {
  font-family: "Knockout";
  font-size: 32px;
  line-height: 1;
  letter-spacing: 9.5px;
  margin: 0 0 8px;
}
.info-section:after {
  display: table;
  clear: both;
  content: "";
}
.col-half {
  float: left;
  width: 50%;
}
.col-54 {
  float: left;
  width: 54%;
}
.col-46 {
  float: left;
  width: 46%;
}
.img-block {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.opened_menu {
  overflow: hidden;
  padding-right: 17px;
}
.primary-title {
  font-family: "Knockout";
  color: #fff;
  font-size: 130px;
  margin: 0;
  line-height: 0.8;
  letter-spacing: 18px;
}
.info-section .container {
  padding: 120px 13.7% 60px;
}
.info-img {
  margin-bottom: 68px;
}
.info-img img {
  max-width: 100%;
  height: auto;
}
.info-section ul:not([class]) {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}
.info-section ul:not([class]) li {
  list-style: none;
  padding-left: 10px;
  position: relative;
  font-size: 16px;
  line-height: 2;
}
.info-section ul:not([class]) li:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "-";
  z-index: 1;
}

/*map-section*/
.map-section {
  height: 760px;
  position: relative;
  margin: 100px 4.5% 50px;
}
.map-container {
  height: 100%;
}
.map {
  height: 100%;
  margin-left: 430px;
}
.map-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 100%;
  background: #fff;
  z-index: 5;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding-top: 100px;
}
.map-info-head {
  background: #1b1b19;
  color: #fff;
  padding: 5px 15px;
  text-align: center;
  display: table;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
.map-title {
  color: #fff;
  font-family: "Knockout";
  font-size: 42px;
  margin: 0;
  letter-spacing: 13px;
  line-height: 1;
  display: table-cell;
  vertical-align: middle;
}
.map-block {
  margin-bottom: 35px;
}
.map-info-body {
  padding: 20px 48px;
  overflow: hidden;
  height: 100%;
}
.map-block-title {
  font-family: "Knockout";
  font-size: 44px;
  margin: 0 0 10px;
  letter-spacing: 13px;
  margin-left: 40px;
  line-height: 1.2;
}
.map-block ul li {
  list-style: none;
}
.map-block ul li a,
.map-block ul li span {
  position: relative;
  padding: 5px 20px 5px 39px;
  font-size: 19px;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.map-block ul li a:hover {
  background: #dcd8d9;
}
.map-block ul li a:before {
  position: absolute;
  top: 6px;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 1;
  content: "";
  background: #ccc;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
.lifestyle a:before {
  background: #773a56 !important;
}
.school a:before {
  background: #baa986 !important;
}
.park a:before {
  background: #66806c !important;
}
.restaurants a:before {
  background: #3a4977 !important;
}
.shop a:before {
  background: #799dad !important;
}
.entertainment a:before {
  background: #673ab7 !important;
}
.map-block ul li a:after {
  display: none;
}
.nicescroll-cursors {
  width: 8px !important;
}
.nicescroll-rails.nicescroll-rails-vr {
  left: auto !important;
  right: 0 !important;
  height: calc(100% - 102px) !important;
}

/*tab*/
/*.tab-content-item{
     display: none;
}
.tab-content-item-active{
    display: block;
}*/
.gallery-wrap:after {
  display: table;
  clear: both;
  content: "";
}
.gallery-block {
  width: 25%;
  float: left;
  padding: 0 15px;
  margin-bottom: 30px;
  text-align: left;
}
.gallery-block.gallery-block-width2 {
  width: 33.33333333%;
}
.gallery-block img {
  max-width: 100%;
  height: auto;
}
/*.gallery-wrap .gallery-block:nth-child(4n+1){
    clear: both;
}*/
.gallery-block a {
  max-width: 100%;
}
.gallery-block a:before,
.gallery-block a:after,
.tabs-item a:before,
.tabs-item a:after {
  display: none;
}
.tab-nav {
  margin-bottom: 40px;
}
.tabs-item {
  list-style: none;
  display: inline-block;
  margin: 0 12px;
}
.tabs-item a {
  background: #fff;
  color: rgb(35, 31, 32);
  padding: 10px 30px 8px 38px;
  font-family: "Knockout";
  font-size: 25px;
  letter-spacing: 8px;
  line-height: normal;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  border: 1px solid rgb(35, 31, 32);
  display: inline-block;
  text-transform: uppercase;
}
.tabs-item.tabs-item-active a {
  background: rgb(35, 31, 32);
  color: #fff;
}
.gallery-section {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}
.gallery-wrap {
  min-height: 500px;
}
.gallery-section .container {
  max-width: 1580px;
  margin: 0 auto;
}
.contacts-section {
  text-align: center;
  padding-top: 70px;
  min-height: calc(100vh - 116px);
  display: flex;
  align-items: center;
}
.contacts-section .contacts-block {
  padding: 34px 0;
}
.news-section .tab-nav {
  margin-bottom: 40px;
}
.news-section .container {
  max-width: 1612px;
  margin: 0 auto;
}
.news-title {
  margin: 25px 0 0;
  font-size: 19px;
  font-weight: 700;
  padding-right: 15px;
}
.news-title a {
  color: rgb(35, 31, 32);
  display: inline-block;
  line-height: 1.25;
}
.news-date {
  font-size: 19px;
}
.table {
  width: 100%;
  font-size: 19px;
}
.table_avail {
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
}
.btn-default {
  background: transparent;
  color: rgb(82, 84, 89);
  border-color: rgb(82, 84, 89);
}
.btn-default:hover {
  background: #1b1b19;
  color: #fff;
  border-color: #1b1b19;
}
.table th {
  font-weight: 700;
  padding: 0 17px 5px;
}
.table td {
  border-top: 2px solid #1b1b19;
  padding: 17px;
}
.table tr.remove {
  display: none;
}
.room-section {
  text-align: center;
  padding: 60px 0 50px;
  min-height: 600px;
}
.room-section .container {
  max-width: 1620px;
  margin: 0 auto;
}
.table .btn {
  font-family: "ArcherBook";
  font-size: 19px;
  letter-spacing: normal;
  padding: 7px 46px;
}
.table th img {
  display: inline-block;
  width: 15px;
  vertical-align: middle;
  height: 15px;
}
.table th.sorting-asc img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.table th[data-sort] {
  cursor: pointer;
  white-space: nowrap;
}
/*modal*/
.blocker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1001;
  padding: 30px 20px 30px;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
}
.blocker:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.05em;
}
.blocker.behind {
  background-color: transparent;
}
.modal {
  display: none;
  vertical-align: middle;
  position: relative;
  z-index: 1002;
  max-width: 1084px;
  box-sizing: border-box;
  width: 90%;
  background: #fff;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  text-align: left;
}
.modal-left {
  width: 230px;
  float: left;
  border-right: 2px solid rgb(35, 31, 32);
}
.modal-content:after {
  display: table;
  clear: both;
  content: "";
}
.modal a.close-modal {
  position: absolute;
  top: 27px;
  right: 27px;
  display: block;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/close.svg");
}
.modal a.close-modal:before,
.modal a.close-modal:after {
  display: none;
}
.modal-spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  padding: 12px 16px;
  border-radius: 5px;
  background-color: #111;
  height: 20px;
}

.modal-spinner > div {
  border-radius: 100px;
  background-color: #fff;
  height: 20px;
  width: 2px;
  margin: 0 1px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
  -o-animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.modal-spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
  -moz-animation-delay: -1.1s;
  -o-animation-delay: -1.1s;
}

.modal-spinner .rect3 {
  -webkit-animation-delay: -1s;
  -moz-animation-delay: -1s;
  -o-animation-delay: -1s;
  animation-delay: -1s;
}

.modal-spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  -moz-animation-delay: -0.9s;
  -o-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.5);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
.modal-show {
  padding-right: 17px;
}
.modal-show .top-mess {
  padding-right: 27px;
}
.modal-show .header {
  padding-right: 52px;
}
.floorplan-img img {
  max-width: 100%;
  max-height: 100%;
}
.modal-btn {
  position: absolute;
  z-index: 5;
  top: 20px;
  right: 78px;
}
.modal-btn .btn {
  font-family: "ArcherBook";
  font-size: 20px;
  letter-spacing: normal;
  padding: 6px 12px;
  min-width: 114px;
  display: block;
  text-align: center;
  margin-bottom: 12px;
}
.modal-logo {
  background-color: #1b1b19;
  padding: 46px 35px;
}
.modal-logo img {
  max-width: 100%;
}
.floorplan-desc {
  padding: 58px 33px;
  font-size: 15px;
  line-height: 1;
}
.modal-right {
  margin-left: 228px;
  border-left: 2px solid rgb(35, 31, 32);
  padding: 30px 230px 30px 30px;
}
.room-title {
  font-family: "Knockout";
  font-size: 30px;
  letter-spacing: 2.5px;
  margin: 0 0 5px;
}
.fullpage-wrapper .section.active {
  z-index: 3;
}
.floorplan-img {
  text-align: center;
}
.gm-style .gm-style-iw-c {
  top: -10px !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  font-family: "ArcherBook" !important;
  font-size: 19px !important;
  border: 2px solid rgba(178, 178, 178, 1) !important;
  max-width: 225px !important;
  text-align: center;
}
.gm-style .gm-style-iw-t::after {
  box-shadow: -2px 2px 0 0 rgba(178, 178, 178, 1) !important;
  top: -13px !important;
}

.home .home_link a:before,
.home .home_link a:after,
.residences .residences_link a:before,
.residences .residences_link a:after,
.amenities .amenities_link a:before,
.amenities .amenities_link a:after,
.virtualtourpage .virtualtour_link a:before,
.virtualtourpage .virtualtour_link a:after,
.availability .availability_link a:before,
.availability .availability_link a:after,
.contacts .contact_link a:before,
.contacts .contact_link a:after,
.gallery .gallery_link a:before,
.gallery .gallery_link a:after,
.neighborhood .neighborhood_link a:before,
.neighborhood .neighborhood_link a:after,
.news .news_link a:before,
.news .news_link a:after,
.residences .residences_link a:before,
.residences .residences_link a:after {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

@media (min-width: 768px) {
  .order-md-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .logos-text {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  html:not(.fp-enabled) .opened_menu .top-mess {
    padding-right: 27px;
  }
  html:not(.fp-enabled) .opened_menu .header {
    background-size: 98.7% auto;
  }
  html:not(.fp-enabled) .opened_menu .header-right {
    margin-right: 17px;
  }
  html:not(.fp-enabled) .opened_menu .header:before {
    width: 120px;
  }
}
@media screen and (max-height: 940px) and (min-width: 1200px) {
  .form-control {
    height: 50px;
  }
  .form-footer {
    padding: 10px 0;
  }
  .contacts-title {
    font-size: 50px;
    letter-spacing: 16px;
    margin-bottom: 0;
  }
  .contacts-block p {
    margin-bottom: 15px;
  }
  .form-block {
    margin-top: 20px;
  }
  .intro-title {
    font-size: 100px;
  }
  .intro-logo img {
    width: 460px;
    max-height: 128px;
  }
  .intro-logo {
    margin-bottom: 50px;
  }
  .fp-tableCell {
    padding-top: 100px;
  }
  .section-title-wrap {
    padding-bottom: 300px;
  }
  .mobile-menu li a {
    font-size: 50px;
  }
  .mobile-menu-footer li a {
    font-size: 36px;
    letter-spacing: 6px;
  }
}
@media screen and (max-height: 840px) and (min-width: 1200px) {
  .top-mess {
    height: 30px;
    font-size: 19px;
    padding: 5px 10px;
  }
  .header {
    /* height: 60px; */
    /* padding: 15px 35px 51px; */
  }
  .header-right {
    margin-top: -2px;
  }
  .contacts-block p {
    margin-bottom: 10px;
    line-height: 1.4 !important;
  }
  .contacts-title {
    font-size: 36px;
    letter-spacing: 10px;
  }
  .form-control {
    height: 40px;
    font-size: 16px;
    letter-spacing: 4px;
  }
  .form-footer {
    padding: 6px 0;
  }
  .contacts-footer address {
    font-size: 19px;
    letter-spacing: 3px;
  }
  .logo a {
    width: 135px;
  }
  .contacts-footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .form-block {
    margin-top: 10px;
  }
  .section-title {
    font-size: 60px;
    letter-spacing: 20px;
    padding-top: 3px;
  }
  .btn {
    font-size: 24px;
    letter-spacing: 8px;
  }
  .section-footer {
    padding-bottom: 20px;
    font-size: 19px;
    padding-top: 15px;
  }
  .neigh .section-footer-block {
    max-width: 915px;
  }
  .section-footer-block {
    margin-bottom: 15px;
  }
  .fp-tableCell {
    padding-top: 160px;
  }
  .amenities .section-footer-block {
    max-width: 870px;
  }
  .section-footer-block {
    max-width: 705px;
  }
  .intro-logo img {
    width: 300px;
    max-height: 84px;
  }
  .intro-title {
    font-size: 70px;
    letter-spacing: 10px;
    max-width: 640px;
    left: 5px;
  }
  .intro-desc {
    font-size: 23px;
    top: 0;
  }
  .scroll-down {
    font-size: 32px;
    margin-left: -16px;
  }
  .section-title-wrap {
    padding-bottom: 210px;
  }
  .intro-block {
    padding-bottom: 100px;
  }
  .mobile-menu li a {
    font-size: 40px;
  }
  .mobile-menu {
    margin-bottom: 30px;
  }
  .mobile-menu-footer li {
    margin-bottom: 5px;
  }
  .mobile-menu-footer li a {
    font-size: 30px;
    letter-spacing: 5px;
  }
  .map-section {
    height: 500px;
    position: relative;
  }
  .room-section {
    padding: 100px 0 50px;
  }
}
@media screen and (max-height: 750px) and (min-width: 1200px) {
  .mobile-menu li a {
    font-size: 34px;
  }
}
@media (max-width: 1199px) {
  .opened_menu {
    padding-right: 0;
  }
  .mobile-menu li a {
    font-size: 36px;
  }
  .mobile-menu-footer li a {
    font-size: 26px;
    letter-spacing: 6px;
  }
  .intro-block {
    padding-bottom: 100px;
  }
  .top-mess {
    height: 30px;
    font-size: 19px;
    padding: 5px 10px;
  }
  .header {
    /* height: 60px;
    padding: 15px 35px 51px; */
  }
  .header-right {
    margin-top: -2px;
  }
  .contacts-block p {
    margin-bottom: 10px;
    line-height: 1.4 !important;
  }
  .contacts-title {
    font-size: 36px;
    letter-spacing: 10px;
  }
  .form-control {
    height: 40px;
    font-size: 16px;
    letter-spacing: 4px;
  }
  .form-footer {
    padding: 6px 0;
  }
  .contacts-footer address,
  .footer address {
    font-size: 19px;
    letter-spacing: 3px;
  }
  .logo a {
    width: 135px;
  }
  .contacts-footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .form-block {
    margin-top: 10px;
  }
  .section-title {
    font-size: 60px;
    letter-spacing: 20px;
    padding-top: 3px;
  }
  .section-title:before,
  .section-title:after {
    right: 18px;
  }
  .btn {
    font-size: 24px;
    letter-spacing: 8px;
  }
  .section-footer {
    padding-bottom: 20px;
    font-size: 19px;
    padding-top: 15px;
  }
  .neigh .section-footer-block {
    max-width: 915px;
  }
  .section-footer-block {
    margin-bottom: 15px;
  }
  .fp-tableCell {
    padding-top: 160px;
  }
  .amenities .section-footer-block {
    max-width: 870px;
  }
  .section-footer-block {
    max-width: 705px;
  }
  .intro-logo img {
    width: 300px;
    max-height: 84px;
  }
  .intro-title {
    font-size: 70px;
    letter-spacing: 10px;
    max-width: 640px;
    position: relative;
    left: 5px;
  }
  .intro-desc {
    font-size: 23px;
    top: 0;
  }
  .scroll-down {
    font-size: 32px;
    margin-left: -16px;
  }
  .section-title-wrap {
    padding-bottom: 210px;
  }
  .main-nav {
    /* margin-right: 30px; */
  }
  .main-menu li {
    margin-right: 20px;
  }
  .sub-section {
    height: 650px;
  }
  .info-section {
    font-size: 16px;
  }
  .info-section .container {
    padding: 40px 30px 20px;
  }
  .info-img {
    margin-bottom: 30px;
  }
  .block-title {
    font-size: 30px;
    letter-spacing: 9px;
  }
  .info-body {
    margin-bottom: 30px;
  }
  .sub-title {
    font-size: 24px;
    letter-spacing: 6px;
  }
  .info-section ul:not([class]) li {
    line-height: 1.4;
  }
  .map-section {
    height: 500px;
    margin: 50px 30px 50px;
  }
  .map-info {
    width: 310px;
    padding-top: 80px;
  }
  .map-title {
    font-size: 30px;
    letter-spacing: 8px;
  }
  .map-info-head {
    height: 80px;
  }
  .map-info-body {
    padding: 20px;
    height: 420px;
  }
  .map-block-title {
    font-size: 32px;
    letter-spacing: 8px;
    margin-left: 30px;
    margin-bottom: 0;
  }
  .map-block ul li a:before {
    top: 8px;
    width: 14px;
    height: 14px;
  }
  .map-block ul li a {
    padding: 5px 20px 5px 30px;
    font-size: 19px;
  }
  .map-block {
    margin-bottom: 25px;
  }
  .nicescroll-rails.nicescroll-rails-vr {
    height: calc(100% - 80px) !important;
  }
  .primary-title {
    font-size: 100px;
    letter-spacing: 15px;
  }
  .contacts-section {
    min-height: calc(100vh - 95px);
  }
  .news-title {
    margin: 15px 0 0;
    font-size: 19px;
  }
  .news-date {
    font-size: 19px;
  }
  .table {
    font-size: 19px;
  }
  .table th {
    padding: 0 5px 5px;
  }
  .table td {
    padding: 10px 5px;
  }
  .table .btn {
    font-size: 19px;
    padding: 5px 20px;
  }
  .modal-show {
    padding-right: 0;
  }
  .modal-show .top-mess {
    padding-right: 10px;
  }
  .modal-show .header {
    padding-right: 0;
  }
  .map {
    margin-left: 310px;
  }
  .room-section {
    padding: 100px 0 50px;
  }
}
@media (max-width: 991px) {
  .sub-section {
    height: 500px;
  }
  .gallery-block,
  .gallery-block.gallery-block-width2 {
    width: 50%;
  }
  .tabs-item a {
    padding: 10px 20px 8px 28px;
    font-size: 21px;
    letter-spacing: 6px;
  }
  .modal-btn {
    top: 75px;
    right: 27px;
  }
  .modal-left {
    width: 180px;
  }
  .modal-right {
    margin-left: 178px;
    padding-right: 160px;
    padding-left: 20px;
  }
  .modal-logo {
    padding: 46px 20px;
  }
  .floorplan-desc {
    padding: 30px 20px;
  }
  .full-img {
    min-width: auto;
    max-height: 100%;
  }
  .header:before {
    width: 60px;
  }
}
@media (max-width: 767px) {
  .header:before {
    width: 50px;
  }
  .top-mess {
    height: 20px;
    font-size: 14px;
    padding: 2px 10px;
  }
  .logo a {
    width: 97px;
    margin: 0 auto;
  }
  .header-left {
    float: none;
    text-align: center;
  }
  .header {
    /* height: auto; */
    /* padding: 10px 0; */
  }
  .main-menu {
    padding: 0;
  }
  .open-menu-btn i {
    top: 0px;
    font-size: 22px;
  }
  .open-menu-btn {
    letter-spacing: 2px;
    position: absolute;
    /* right: 10px; */
    /* top: 14px; */
    top: 0px;
    padding: 0;
    margin-right: 0;
  }
  .header-right {
    margin-top: 0;
    float: none;
    text-align: center;
  }
  .main-menu li {
    margin-right: 5px;
    margin-left: 5px;
  }
  .main-nav {
    margin-right: 0;
    display: none;
  }
  .main-menu li a {
    font-size: 20px;
    letter-spacing: 5px;
    left: 2px;
  }
  .intro-logo img {
    width: 200px;
    max-height: 56px;
  }
  .intro-title {
    font-size: 36px;
    letter-spacing: 5px;
  }
  .intro-logo {
    margin-bottom: 30px;
  }
  .intro-desc {
    font-size: 15px;
  }
  .btn {
    font-size: 18px;
    letter-spacing: 5px;
  }
  .section-footer {
    padding-bottom: 40px;
    padding-top: 20px;
  }
  .btn-link {
    letter-spacing: 4px;
    font-size: 16px;
  }
  .section-footer-block {
    padding: 0 15px;
    margin-bottom: 20px;
  }
  .section-title {
    font-size: 36px;
    letter-spacing: 10px;
    margin-bottom: 10px;
  }
  .contacts-block {
    padding: 0 15px 35px;
  }
  .contacts-section .contacts-block {
    padding: 40px 15px;
  }
  .contacts-title {
    margin-bottom: 10px;
  }
  .contacts-block p {
    margin-bottom: 15px;
  }
  .contacts-footer address,
  .footer address {
    font-size: 14px;
    letter-spacing: 1px;
  }
  #intro {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .intro-block {
    padding-bottom: 0;
    padding-top: 60px;
  }
  .section-footer {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .contacts-footer {
    position: relative;
  }
  .section-title-wrap {
    padding-bottom: 0;
    padding-top: 100px;
  }
  #intro .full-img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .section-footer {
    position: relative;
  }
  .section-title:before,
  .section-title:after {
    right: 8px;
  }
  .sub-block {
    padding-bottom: 0;
    position: absolute;
    top: 155px;
    width: 100%;
    z-index: 5;
  }
  .mobile-menu li a {
    font-size: 20px;
  }
  .menu-wrap {
    top: 62px;
  }
  .opened_menu .menu-wrap {
    height: 92%;
    height: calc(100% - 62px);
    padding: 20px 0;
  }
  .mobile-menu-footer li {
    margin-bottom: 5px;
  }
  .mobile-menu-footer li a {
    font-size: 16px;
    letter-spacing: 4px;
  }
  .mobile-menu {
    margin-bottom: 15px;
  }

  .fp-bg {
    position: relative;
    height: 350px;
    overflow: hidden;
  }
  #intro .fp-bg {
    position: initial;
    height: auto;
  }
  .opened_menu {
    overflow: hidden;
  }
  .info-section {
    display: block;
  }
  .col-54,
  .col-46 {
    float: none;
    width: 100%;
  }
  .img-block {
    height: 350px;
    margin-bottom: 30px;
  }
  .info-section .container {
    padding: 30px 15px 20px;
  }
  .sub-section {
    height: 300px;
  }
  .primary-title {
    font-size: 65px;
    letter-spacing: 9px;
    line-height: 0.9;
  }
  .primary-section .container {
    font-size: 22px;
  }
  .info-section ul:not([class]) {
    -webkit-column-count: 2;
    -moz-column-count: 1;
    column-count: 1;
  }
  .info-section ul:not([class]) li {
    margin-bottom: 10px;
  }
  .scroll-down {
    display: none;
  }
  .map-section {
    height: auto;
    margin: 30px 0 50px;
    padding: 0 20px;
  }
  .nicescroll-rails.nicescroll-rails-vr {
    right: 20px !important;
  }
  .map-info {
    width: 100%;
    position: relative;
    height: auto;
  }
  .map-container {
    height: 400px;
  }
  .map {
    margin-left: 0;
  }
  .map-info-body {
    padding: 20px 20px 10px;
    height: 250px;
  }
  .nicescroll-rails.nicescroll-rails-vr {
    height: 250px !important;
  }
  .tab-nav {
    margin-bottom: 30px !important;
  }
  .tabs-item {
    display: block;
    margin: 0;
  }
  .news-section .tabs-item {
    display: inline-block;
    margin: 0 2px;
  }
  .tabs-item a {
    width: 100%;
    margin-top: -1px;
  }
  .gallery-wrap {
    margin: 0 -10px;
  }
  .gallery-block {
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .sortable thead {
    display: none;
  }
  .sortable td {
    border-top: 0;
    border-bottom: 2px solid #1b1b19;
    display: block;
    text-align: right;
    padding-left: 100px;
  }
  .sortable td:before {
    content: attr(data-label);
    float: left;
    left: -100px;
    position: relative;
  }
  .view-floor {
    position: absolute;
    z-index: 5;
    bottom: 2px;
    left: -100px;
    border: 0 !important;
  }
  .sortable tr {
    display: block;
    margin-bottom: 30px;
    position: relative;
  }
  .room-section {
    padding: 50px 0 20px;
  }
  .blocker {
    padding: 20px 0;
  }
  .modal-left,
  .modal-right {
    width: 100%;
    border: 0;
    float: none;
  }
  .modal-logo img {
    max-width: 120px;
    margin: 0 auto;
    display: block;
  }
  .modal-logo {
    padding: 20px;
  }
  .modal a.close-modal {
    top: 85px;
    right: 10px;
    width: 18px;
    height: 18px;
  }
  .floorplan-desc {
    padding: 20px 40px;
    text-align: center;
  }
  .modal-right {
    margin-left: 0;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 20px;
    text-align: center;
  }
  .modal-btn {
    top: 0;
    right: 0;
    padding: 0 20px;
    position: relative;
  }
  #intro .scroll-down {
    font-size: 60px;
  }
  .mobile-menu li a:before,
  .mobile-menu li a:after {
    height: 2px;
  }
  .mobile-icons {
    display: block;
  }
  .primary-section .scroll-down {
    bottom: 0;
    -webkit-animation: none;
    -o-animation: none;
    animation: none;
    height: 60px;
  }
  .social_links > a {
    max-width: 20px;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .opened_menu .menu-wrap {
    overflow: auto;
  }
}

@media (max-width: 467px) {
  .gallery-block {
    width: 100% !important;
  }
  .gallery-block {
    margin-bottom: 30px;
  }
  .table {
    font-size: 17px;
    width: 100%;
  }
}
